// ::::: TYPOGRAPHY :::::
html
    font-size: 14px

h1 
    font-size: 2rem

h2, h3
    font-weight: 500

h2 
    font-size: 1.35rem

    em
        font-size: 3.3rem
        line-height: 3rem

    &::after
        height: 3px
        margin: 1rem auto 2rem auto

    &.underline::after
        height: 4px

h3
    font-size: 2.2rem
    line-height: 2.2rem

h4 
    font-size: 1.8rem

h5
    font-size: 0.72rem

small
    font-size: 0.87rem

// ::::: GLOBAL :::::

$global_spacing: 4%

.container
    width: 100% - $global_spacing * 2
    max-width: 962px
    margin: 0 auto

.copy
    margin-top: $global_spacing
    margin-bottom: $global_spacing

// ::::: HEADER :::::

// ::::: FOOTER :::::

// ::::: HERO :::::
.hero--home
    background-image: url(../img/hero-home--dt.jpg)
    background-position: center bottom

.hero--pwp
    background-image: url(../img/hero-pwp--dt.jpg)

    .hero__desktop-copy:before, .hero__desktop-copy:after
        width: 400px

.hero--commitments
    background-image: url(../img/hero-commitments--dt.jpg)

.hero--products
    background-image: url(../img/hero-products--dt.jpg)

.hero--planet
    background-image: url(../img/hero-planet--dt.jpg)

.hero--people
    background-image: url(../img/hero-people--dt.jpg)


.hero--static
    padding: 6% 0

.hero--cinemagraph__copy
    margin-top: -8rem

.hero--cinemagraph__video-container
    +cover

.hero--cinemagraph__video-container video
    +padb
    width: 100%
    height: auto

.hero__initial-frame
    -webkit-transform: translateZ(0)
    z-index: 2

.hero--cinemagraph__video-container
    z-index: 1

.hero__social-item
    margin-bottom: 1rem
    +square(25px)

    span 
        +dn

    &:nth-child(-n+2)
        margin-right: 0.5rem

    &:hover
        +opacityz(0.8)

    &:active
        -webkit-transform: scale(0.95)
        -moz-transform: scale(0.95)
        -ms-transform: scale(0.95)
        -o-transform: scale(0.95)
        transform: scale(0.95)

        span 
            transform: none

.hero__title em 
    font-size: 5rem
    line-height: 5.6rem


.title-lines::before, .title-lines::after
    height: 4px
    width: 350px
    max-width: none
    margin: 2rem auto

.hero__desktop-copy
    +prdb
    color: white
    width: 670px
    margin: 0 auto
    line-height: 150%

.hero__mobile-copy
    +dn

.hero__anchor
    line-height: 29px
    margin-top: 0

// ::::: PAGE: HOME :::::
.misvis
    padding: $global_spacing 0
    background-color: $light_grey

.misvis__item
    +prdib
    +box-sizing
    vertical-align: top
    width: 50%

    &:first-child
        border-right: 1px solid #bcbbb8
        padding-right: $global_spacing
        margin-bottom: 0

    &:last-child
        border-left: 1px solid #bcbbb8
        padding-left: $global_spacing
        left: -1px
        margin-top: 0

    p:last-child
        margin-bottom: 0


.principles
    padding: $global_spacing 0

.principles--desktop
    +prdb
    +box-sizing
    width: 100%
    max-width: 950px

.principles__coloured-overlay
    +dn
    +opacityz(0)
    background-color: rgba(30,41,44,0.8)

.principles--mobile
    +padn
    +opacityz(0)
    top: 32%
    left: 5%
    +ontop
    width: 90%
    height: 100%

    .swiper-slide img
        width: 18%

    .swiper-slide p
        width: 60%
        margin-left: auto
        margin-right: auto

.principles--desktop, .principles--mobile, .principles__coloured-overlay
    -webkit-transition: 0.3s linear -webkit-opacity
    -moz-transition: 0.3s linear -moz-opacity
    -ms-transition: 0.3s linear -ms-opacity
    -o-transition: 0.3s linear -o-opacity
    transition: 0.3s linear opacity

.principles.unhide
    .principles--mobile
        +db
    .principles__coloured-overlay
        +db

.principles.visible

    .principles--desktop
        +opacityz(0)
    .principles--mobile
        +opacityz(1)
    .principles__coloured-overlay
        +opacityz(0.8)

.principles__btn-close
    content: ""
    +padb
    +ontop
    top: 0
    right: 0
    background-image: url(../img/icon-close.png)
    background-size: 30px 30px
    +square(30px)
    cursor: pointer

    &:hover
        -webkit-transition: 0.3s ease -webkit-transform
        -moz-transition: 0.3s ease -moz-transform
        -ms-transition: 0.3s ease -ms-transform
        -o-transition: 0.3s ease -o-transform
        transition: 0.3s ease transform
        -webkit-transform: rotate(180deg) translateZ(0)
        -moz-transform: rotate(180deg) translateZ(0)
        -ms-transform: rotate(180deg) translateZ(0)
        -o-transform: rotate(180deg) translateZ(0)
        transform: rotate(180deg) translateZ(0)

.principles__arrow
    +padb
    +ontop
    width: 12px
    height: 25px
    top: 30%
    margin-top: -15px
    background-size: contain
    background-repeat: no-repeat
    cursor: pointer

    &.principles__arrow-prev
        background-image: url(../img/icon-arrow-left.png)
        left: 0

    &.principles__arrow-next
        background-image: url(../img/icon-arrow-right.png)
        right: 0


.principles--desktop
    // +opacityz(0)

.principles--desktop__item
    +prdib
    width: 18%
    margin: $global_spacing 23% 0 0
    text-align: center
    cursor: pointer

    &:nth-child(3n+3)
        margin-right: 0

    img
        +prdb
        width: 100%
        -webkit-transform: scale(0.89)
        -moz-transform: scale(0.89)
        -ms-transform: scale(0.89)
        -o-transform: scale(0.89)
        transform: scale(0.89)
        -webkit-transition: 0.1s ease -webkit-transform
        -moz-transition: 0.1s ease -moz-transform
        -ms-transition: 0.1s ease -ms-transform
        -o-transition: 0.1s ease -o-transform
        transition: 0.1s ease transform

    &:hover img
        -webkit-transform: scale(1)
        -moz-transform: scale(1)
        -ms-transform: scale(1)
        -o-transform: scale(1)
        transform: scale(1)

.explore
    text-align: left

.explore-item
    width: 16.8%
    padding-top: 16.8%
    margin-bottom: 0
    margin-right: $global_spacing

    &:nth-child(odd)
        margin-right: $global_spacing
    &:last-child
        margin: 0

    .colour-overlay
        -webkit-transition: 0.3s ease opacity
        -moz-transition: 0.3s ease opacity
        -ms-transition: 0.3s ease opacity
        -o-transition: 0.3s ease opacity
        transition: 0.3s ease opacity

    &:active .colour-overlay
        -webkit-transition: none
        -moz-transition: none
        -ms-transition: none
        -o-transition: none
        transition: none

.explore-item__heading
    font-size: 1rem


// ::::: HIGHLIGHT :::::
.highlight 
    padding: $global_spacing 0

.highlight__section
    +prdib
    vertical-align: top

.highlight__section--copy
    width: 46%
    margin-right: $global_spacing

.highlight__mobile-copy
    +dn
.highlight__desktop-copy
    +prdb


.highlight__section--media
    width: 50%
    margin-top: 0

.highlight__media
    width: 100%

.highlight__video-wrap
    +prdb
    padding-bottom: 56.25% /* 16:9 */
    height: 0

    .highlight__media
        +cover

.wangotron-wrap
    margin-top: 10%

.wangotron__items
    +cover

.wangotron__gradient
    +padb
    +square(100%)
    +opacityz(0)
    top: -13.5%
    left: 32%

.wangotron__details-modal
    height: 100%
    width: 100%
    top: 0
    left: 0
    margin-top: 0

.wangotron__details-modal__container
    +padn
    top: -3%
    left: 0
    +square(100%)
    +border-radius(0)
    +box-sizing
    color: $dark_grey
    text-align: left
    padding: 0 8% 8% 8%

.wangotron__details-modal__icon, .wangotron__details-modal__close, .wangotron__tap-cta
    +dn

.wangotron__details-modal__header
    margin: 0 auto

    &::after
        background-color: #bcbbb8
        width: 100%
        margin: 3% auto 0 auto

.wangotron__details-modal__copy
    margin: $global_spacing auto

.wangotron__details-modal__image
    +prdb
    width: 100%
    +box-sizing
    border: 1px solid white
    +border-radius(3px)

.wangotron__details-modal__cta
    margin-top: $global_spacing

.wangotron__details-modal .wangotron__details-modal__container
    background-color: transparent !important

.progress-timeline__carousel-wrapper
    +dn
 

.focus-areas, .our-progress
    padding: $global_spacing 0
    overflow: hidden

    *
        +no-select

.progress-timeline--desktop
    +db
    margin-top: $global_spacing

.progress-timeline--desktop__image-carousel
    +prdb
    height: 230px

    *
        +no-pointer-events

.progress-timeline--desktop--image-wrapper
    +padb
    +square(100%)

.progress-timeline--desktop__image
    +padb
    // left: 80%
    // margin-left: -200px
    width: 400px
    // top: 4%
    +opacityz(0)
    -webkit-transform: scale(0.8)
    -moz-transform: scale(0.8)
    -ms-transform: scale(0.8)
    -o-transform: scale(0.8)
    transform: scale(0.8)
    +border-radius(3px)

    &:first-child
        // top: 0
        // left: 50%
        z-index: 1000
        -webkit-transform: scale(1)
        -moz-transform: scale(1)
        -ms-transform: scale(1)
        -o-transform: scale(1)
        transform: scale(1)
        +opacityz(1)

    &:nth-child(2)
        +opacityz(0.3)
        z-index: 995
        // left: 75%


.progress-timeline--desktop__slider-container
    +prdb
    width: calc(90% + 30px)
    margin-top: $global_spacing !important
    margin-bottom: 2.5% !important
    margin-left: auto
    margin-right: auto
    height: 15px
    +border-radius(15px)
    background-color: $light_grey

.progress-timeline--desktop__slider
    +padb
    +square(30px)
    left: 0
    top: -7px
    background-color: $wwb_blue
    +border-radius(30px)
    cursor: -webkit-grab
    cursor: -moz-grab
    cursor: -ms-grab
    cursor: -o-grab
    cursor: grab

    &:active
        cursor: -webkit-grabbing
        cursor: -moz-grabbing
        cursor: -ms-grabbing
        cursor: -o-grabbing
        cursor: grabbing

.progress-timeline--desktop__copy-container
    height: 140px

.progress-timeline--desktop__copy-item
    +padb
    +opacityz(0)
    top: 0
    left: 50%
    width: 400px
    height: 100%
    margin: $global_spacing 0 0 -200px

    &:first-child
        +opacityz(1)

.progress-timeline__title, .progress-timeline__copy
    +prdb
    width: 100%
    height: auto
    text-align: center
    margin: 0

// .progress-timeline--desktop__dots
//     +prdb
//     width: calc(100% - 12px)
//     top: 40px
//     margin: auto

.progress-timeline--desktop__years-container
    +prdb
    width: 100%
    margin: 0 auto

.progress-timeline--desktop__year
    +prdib
    +title-font-bold
    font-size: 1.3rem
    width: 10%
    text-align: center


    &::before
        content: ""
        +prdb
        +box-sizing
        +square(30px)
        +border-radius(100%)
        margin: auto
        border: 5px solid $extralight_grey
        background-color: $light_grey



    &::after
        content: ""
        height: 4px
        background-color: $wwb_blue
        width: 0%
        +prdb
        margin: 0.5rem auto 0 auto

        -webkit-transition: 0.2s ease width
        -moz-transition: 0.2s ease width
        -ms-transition: 0.2s ease width
        -o-transition: 0.2s ease width
        transition: 0.2s ease width

    &.selected
        color: $wwb_blue

        &::after
            width: 42%

    &:hover
        color: $wwb_blue
        cursor: pointer

        &::before
            background-color: darken($light_grey, 5%)


.pwp-breakdown
    padding: $global_spacing 0

.pwp-breakdown h4
    font-size: 1.2rem

.pwp-breakdown-copy .copy
    max-width: 60%

.desktop-pwp-breakdown-icon
    +prdb
    width: 50%
    margin: 0 auto

.mobile-pwp-breakdown-icon
    +dn

.pillar-container
    +prdib
    width: 30%
    margin: 0 5% 0 0
    vertical-align: top

    &:last-child
        margin-right: 0

.pillar-item__pill h4 
    font-size: 0.8rem


.explore
    padding: $global_spacing 0

.explore-item

    &:before
        -webkit-transform: translateY(-100px)
        -moz-transform: translateY(-100px)
        -ms-transform: translateY(-100px)
        -o-transform: translateY(-100px)
        transform: translateY(-100px)

    &:after
        -webkit-transform: translateY(100px)
        -moz-transform: translateY(100px)
        -ms-transform: translateY(100px)
        -o-transform: translateY(100px)
        transform: translateY(100px)

    &:before, &:after
        $spd: 0.2s
        +padb
        -webkit-transition: $spd ease -webkit-transform
        -moz-transition: $spd ease -moz-transform
        -ms-transition: $spd ease -ms-transform
        -o-transition: $spd ease -o-transform
        transition: $spd ease transform

    &:hover
        .explore-item__image
            -webkit-filter: grayscale(100%)
            -moz-filter:    grayscale(100%)
            -ms-filter:     grayscale(100%)
            -o-filter:      grayscale(100%)
            filter: gray

        &:before, &:after
            -webkit-transform: translateY(0)
            -moz-transform: translateY(0)
            -ms-transform: translateY(0)
            -o-transform: translateY(0)
            transform: translateY(0)

