// ::::: TYPOGRAPHY :::::
html
    font-size: 14px

h1 
    font-size: 2rem

h2, h3
    font-weight: 500

h2 
    font-size: 1.35rem

    em
        font-size: 3.3rem
        line-height: 3rem

    &::after
        height: 3px
        margin: 1rem auto 2rem auto

h3 
    font-size: 1.2rem

h5
    font-size: 0.72rem

small 
    font-size: 0.87rem

// ::::: GLOBAL :::::
.container
    width: 962px
    margin: 0 auto

// ::::: HEADER :::::

// ::::: FOOTER :::::

// ::::: HERO :::::
.hero--home
    background-image: url(../img/hero-home--dt.jpg)
    background-position: center bottom
.hero--pwp
    background-image: url(../img/hero-pwp--dt.jpg)



.hero
    padding: 6% 0

.hero__social-item
    margin-bottom: 1rem

    span 
        +dn

    &:nth-child(-n+2)
        margin-right: 1rem

    &:hover
        +opacityz(0.8)

    &:active
        transform: scale(0.95)

        span 
            transform: none

.hero__title em 
    font-size: 5rem
    line-height: 5.6rem


.title-lines::before, .title-lines::after
    height: 3px
    width: 300px
    max-width: auto
    margin: 2rem auto

.hero__desktop-copy
    +prdb
    color: white
    width: 670px
    margin: 0 auto
    line-height: 150%

.hero__mobile-copy
    +dn

.hero__anchor
    line-height: 29px
    margin-top: 0

// ::::: PAGE: HOME :::::
.misvis
    padding: 8% 0
    background-color: $light_grey

.misvis__item
    +prdib
    +box-sizing
    vertical-align: top
    width: 50%

    &:first-child 
        border-right: 1px solid #bcbbb8
        padding-right: 4%

    &:last-child
        padding-left: 4%


.principles
    padding: 4% 0

.principles--desktop
    +prdb
    +box-sizing
    width: 100%
    max-width: 950px


.principles--mobile
    +dn

.principles--desktop__item
    +prdib
    width: 18%
    margin: 4% 23% 0 0
    text-align: center


    &:nth-child(3n+3)
        margin-right: 0

    img
        +prdb
        width: 100%

.explore
    text-align: left

.explore-item
    width: 16.8%
    padding-top: 16.8%
    margin-bottom: 0
    margin-right: 4%

    &:nth-child(odd)
        margin-right: 4%
    &:last-child
        margin: 0

    .colour-overlay
        transition: 0.3s ease opacity

    &:active .colour-overlay
        transition: none

.explore-item__heading
    font-size: 1rem


// ::::: HIGHLIGHT :::::

.highlight__section
    +prdib
    vertical-align: top

.highlight__section--copy
    width: 46%
    margin-right: 4%

.highlight__mobile-copy
    +dn
.highlight__desktop-copy
    +prdb


.highlight__section--media
    width: 50%

.highlight__media
    width: 100%

.highlight__video-wrap
    +prdb
    padding-bottom: 56.25% /* 16:9 */
    height: 0

    .highlight__media
        +cover


    