// ::::: TYPOGRAPHY :::::
html
    font-size: 16px
h2
    font-size: 1.8rem
h3
    font-size: 2.2rem
h5
    font-size: 0.8rem

// ::::: GLOBAL :::::
$global_spacing: 5%

.container
    width: 100% - $global_spacing * 6
    max-width: 1372px
    margin: 0 auto

.copy
    margin-top: $global_spacing
    margin-bottom: $global_spacing

// ::::: HEADER :::::

// ::::: FOOTER :::::

// ::::: HERO :::::

.hero--cinemagraph__copy
    margin-top: -9rem

.misvis
    padding: $global_spacing 0

// ::::: HIGHLIGHT :::::
.highlight
    padding: 5% 0

.focus-areas, .our-progress
    padding: $global_spacing 0

.explore
    z-index: -1000

// ::::: PAGE: RECIPES LIST :::::
.list-recipes > ul > li > a figcaption h2
    font-size: 18px

.list-recipes > ul > li > a figcaption p
    font-size: 12px

.container.gov.left
    width: 70%
    padding-right: 30px

.pillar-item__content.gov.right
    width: 30%

.hero__social-item,
.hero__social.gov a
    float: right

.hero__social.gov
    margin-bottom: 0

.h2-az
    +width_height(100%, auto)
    font-size: 1.8rem
    float: left
    position: relative

// ::::: BRANDS SECTION :::::
// recipe and brands grid
#grid
    .is-li-open
        .expander
            max-height: 750px

// ::::: AZ Topics :::::
.pwp-breakdown__header.underline .topics
    margin: 40px 0

.hero__social.az
    +prdib
    +width_height(auto, 50px)
    float: left
    top: -9px
    margin-left: 60px
    a
        +prdb
        float: left

#social-az
    +prdib
    background: url(../img/menu_social.png) no-repeat center 0
    background-size: contain
    margin: 8px 0 0 21px

.pillar_content_bottom_left.gov.second
    display: none

.download
    a:hover
        background: #e1e1e1 url('../img/icon-dowload-blue.png') no-repeat 0 center


