// ::::: TYPOGRAPHY :::::
html
    font-size: 16px

h2
    font-size: 1.8rem

h3
    font-size: 2.2rem

h5
    font-size: 0.8rem


// ::::: GLOBAL :::::

$global_spacing: 5%

.container
    width: 100% - $global_spacing * 6
    max-width: 1372px
    margin: 0 auto

.copy
    margin-top: $global_spacing
    margin-bottom: $global_spacing

// ::::: HEADER :::::

// ::::: FOOTER :::::

// ::::: HERO :::::
.hero--static
    // padding: 5% 0

.hero--cinemagraph__copy
    margin-top: -9rem

.misvis
    padding: $global_spacing 0

// ::::: HIGHLIGHT :::::
.highlight
    padding: 5% 0


.focus-areas, .our-progress
    padding: $global_spacing 0

.explore
    padding: $global_spacing 0

