// ::::: TYPOGRAPHY :::::
h2
    font-size: 1.8rem

h3
    font-size: 1.2rem

h5
    font-size: 0.8rem


// ::::: GLOBAL :::::

.container
    width: 90%
    max-width: 1372px

// ::::: HEADER :::::

// ::::: FOOTER :::::

// ::::: COMPONENTS :::::
