//.explore-item
//	width: 50% - $global_spacing / 2
//	padding-top: (100% - $global_spacing * 2) / 2
//	&:before
//		top: 30%
//	&:after
//		bottom: 30%


.download
	a
		span
			&.align-right
				display: block

#social-az
	float: left
	+width_height(50%, 30px)
	+margin_lr(auto,auto)
	max-width: 180px
	margin-top: 10px
	background: url(../img/menu_social.png) no-repeat 0 0
	background-size: 82% auto
	li
		+prdb
		float: left
		+width_height(26px, 26px)
		+top_left(0, -9px)
		padding: 0
		margin: 0 0 0 7%
		border-top: 0
		list-style: none

		a
			display: block
			+width_height(26px,26px)
			margin: 0
			cursor: pointer

.download
	a
		+prdb
		+top_left(-25px,-17px)
		width: 100%
		line-height: 48px
		overflow: hidden
		text-transform: uppercase
		text-align: left
		font-size: 10px
		text-decoration: none
		color: #616161
		background: #e1e1e1 url('../img/icon-dowload.png') no-repeat 0 center
		&:hover
			background: #e1e1e1 url('../img/icon-dowload-blue.png') no-repeat 0 center
		span
			+title-font-bold
			padding-left: 65px
			&.align-right
				display: none
				+title-font
				+padding_lr(10px,10px)
				float: right
				background: #e1e1e1 url('../img/icon-separator.png') no-repeat 0 center
a#download_policy, a#download_report
	width: 107%
	background-color: transparent
.related_topics .related_topics_ul
	li
		width: 100%
		font-size: 10px
		margin: 15px 10px
		line-height: 0
		a:after
			display: none

#available_downloads
	display: block

.footer_container
	width: 100%
footer .social
	margin-right: 0
	margin-top: 0
	//margin-top: 30px
	//margin-left: 6%;
	a
		font-size: 13px
		margin-left: 7px
		height: 30px
		line-height: 25px
footer .logo_main
	margin-left: 15px
#footer_social
	display: none
#separator
	margin-top: 5px
footer .logo_main p
	width: 59%