body
	font-size: 15px
h1
	font-size: 1.8rem
h2
	font-size: 1.5rem
	font-weight: 500

$global_spacing: 6%
$social-width: 20%

// ::::: GLOBAL :::::
.colorido-container
	width: 100% - $global_spacing * 2
	margin: 0 $global_spacing

.contained-copy
	+prdb
	text-align: center
	width: 55%
	margin: 0 auto
	h3
		margin: 0
.copy
	margin-top: $global_spacing
	margin-bottom: $global_spacing


// ::::: Pillar tabs :::::
.pwp-breakdown
	background-size: contain
	display: block
	position: relative
	font-size: 16px

.pillar-tab__heading span
	padding: $global_spacing 0


// ::::: HERO :::::
.hero--home
	background-image: url(../img/hero-home--tb.jpg)
	background-position: center bottom

.hero--pwp
	background-image: url(../img/hero-pwp--tb.jpg)

.hero--commitments
	background-image: url(../img/hero-commitments--tb.jpg)

.hero--products
	background-image: url(../img/hero-products--tb.jpg)

.hero--planet
	background-image: url(../img/hero-planet--tb.jpg)

.hero--people
	background-image: url(../img/hero-people--tb.jpg)

.hero--reporting
	background-image: url(../img/hero-reporting--tb.jpg)

	// ::::: PAGE: HOME :::::
.misvis
	padding-top: $global_spacing

.explore-item__heading
	font-size: 1.6rem

.explore
	.explore-item:before
		display: none

.highlight
	padding: $global_spacing 0 0 0

.focus-areas, .our-progress
	padding: $global_spacing 0

.progress-timeline__pagination
	width: 100% - $global_spacing * 2
	margin-top: 54%

.progress-timeline__pagination .swiper-pagination-bullet
	margin: 0 7% 0 0 !important
	+square(14px)

.progress-timeline__arrows
	margin-top: calc(61% + 50px)

.progress-timeline__swipe-icon
	margin-top: 0

.progress-timeline__copy-container
	margin-top: 13%



// ::::: PAGE: BRANDS
.search-blue
	padding: 64px 0 105px 0
	h3
		font-size: 22px

// ::::: PAGE: BRANDS LIST :::::
.tabs-select
	li
		a
			font-size: 14px
			margin-bottom: 12px
			padding-top: 16px
			padding-bottom: 16px

.list-brands-container
	.categories
		margin-bottom: 80px
		&.tabs-select li
			width: 25%
			a
				font-size: 18px
				&:after
					display: block

.list-brands > ul>li
	width: 33.33%
	.expander-inner
		overflow-y: initial
		overflow-x: initial

	.expander-inner-half
		width: 50%
		.tabs-select
			margin-bottom: 40px
		&.left
			>div
				padding-right: 30px
		&.right
			>div
				padding-left: 30px

		.tabs-select
			+margin_lr(-12px,-12px)

.gallery
	h2
		display: none
	> figure
		max-height: 310px
		overflow: hidden
	.related
		padding-top: 0
	.cta_container
		position: relative
		top: -40px


.slider
	.caption
		position: absolute
		display: table
		+width_height(100%, 100%)
		+top_left_right_bottom(0, 0, 0, 0)
		z-index: 50
		color: #fff
		line-height: 100%
		p
			display: table-cell
			+width_height(100%, 100%)
			vertical-align: middle
			padding: 0 10px
			line-height: 120%
.tab-content
	.inner-tab
		max-height: 530px
		overflow-y: scroll

.slick-dots
	bottom: -40px

.cta_container
	position: relative
	a
		font-size: 18px
		padding: 16px 20px 16px 50px


// recipe and brands grid
#grid
	.expander
		max-height: 0

// ::::: PAGE: RECIPES LIST :::::
.list-recipes-container
	.categories
		margin-bottom: 80px
		&.tabs-select li
			width: 25%
			a
				font-size: 18px
				&:after
					display: block

	.list-recipes > ul>li
		width: 33.33%
		margin-bottom: 40px
		.expander-inner
			overflow-y: hidden
			overflow-x: visible
			height: auto

	.expander-inner-half
		width: 50%
		&.left
			>div
				padding-right: 30px
		&.right
			>div
				padding-left: 30px

	.content-recipe
		max-height: 490px

	.gallery
		padding-top: 50px
		.title
			display: none

	.recipe-details-copy
		padding-top: 50px


// ::::: PAGE: NUTRITION :::::
.our-commitment-to-nutrition
	.copy
		max-width: 60%
	figure
		float: right
		padding-top: 15px
		width: 35%


.slider-farming
	.slick-arrow
		i
			+width_height(22px, 44px)

		&.slick-prev
			left: 20px
			i
				background: url(../img/icon-arrow-left.png) no-repeat center center
				background-size: 100%
			&:hover
				i
					background: url(../img/icon-arrow-left--lightblue.png) no-repeat center center
					background-size: 100%

		&.slick-next
			right: 20px
			i
				background: url(../img/icon-arrow-right.png) no-repeat center center
				background-size: 100%
			&:hover
				i
					background: url(../img/icon-arrow-right--lightblue.png) no-repeat center center
					background-size: 100%
	li.slide
		div.content
			position: absolute
			+left_right(10%, 10%)
			top: 50%
			color: #fff
			transform: translateY(-50%)
		h3
			color: #fff
			&:after
				content: ""
				display: block
				+width_height(363px, 4px)
				+margin_lr(auto, auto)
				margin-top: 40px
				background: $wwb_blue

.forward-brands
	ul.forward-brand-list
		+margin_lr(-40px,-40px)
		li
			width: 33.33%
			> div
				padding: 0 40px
				margin-bottom: 40px


// ::::: PAGE: PERSPECTIVES :::::
#search_bar
	+prdib
	width: 100%
	float: left
	margin-right: 40px

.btn.discover
	display: none !important

.btn-discover_a::after
	top: -23px
	left: 14px

.hero__social.az
	+prdib
	+width_height(auto, 50px)
	float: left
	a
		+prdb
		float: left

// ::::: PAGE: GOVERNANCE :::::
.hero__social-item
	float: right
	margin: 20px 4px

.pillar_content.colorido-container
	display: block

.pillar-item__content.gov.left
	+title-font-regular
	+prdib
	float: left
	padding: 0
	padding-right: 50px

.pillar-item__content.gov.right
	+prdb
	float: right
	padding: 0
	width: 100%

.pillar-item__content.download.gov
	.download_title
		+top_left(-4px, -3px)

		&:after
			+width_height(105px, 25px)
			+padding_lr(0, .5me)
			content:  "PDF | 897KB"
			border-left: 1px solid lightgrey

.pillar_content_bottom_left.gov div
	a
		margin-left: 0

.pillar_content_bottom_left
	+prdib
	width: 100%
	padding: 0
	height: 50px
	float: left
	div
		float: left
		width: auto
		margin-right: 30px

.pillar_content_bottom_left.gov
	+width_height(100%, auto)
	margin-bottom: 40px
	border-bottom: 4px solid $wwb_blue
	div:last-child
		margin-bottom: 20px

// ::::: Pillar Content Footer :::::
.download a
	font-size: 14px

.download a:hover
	background: #e1e1e1 url('../img/icon-dowload-blue.png') no-repeat 0 center

#download_policy a,
#download_report a
	background:  #e9e7e7 url('../img/icon-download.png') no-repeat 0 center
	width: 100%
	&:hover
		background: #e9e7e7 url('../img/icon-dowload-blue.png') no-repeat 0 center

#related_topic_mobile
	display: none

.related_topics_li
	width: auto
	font-size: 14px

.related_topics_li:first-child
	margin-right: 5%
	&:after
		+prdb

//.related_topics_li span
//	padding-left: 0
//	&.align-right
//		float: left
//		display: inline-block
//		padding-right: 40px
//		background: url('../img/icon-separator.png') no-repeat 120px 3px


//.related_topics_li a:after
//	float: right
//	+prdb
//	+width_height(30px,12px)
//	top: -6px
//	background: url(../img/icon-arrow-right--lightblue.png) no-repeat 4px 1px
//	background-size: 7px 10px


// ::::: PAGE: Governance :::::
#governance_right_social
	display: block
	background: transparent
	li
		top: -25px
		left: -16px

.report-slider__title
	margin-top: $global_spacing

.previous-reports,
.latest-reports,
.howwillwe-plug
	padding: $global_spacing 0

.howwillwe-plug
	background-image: url(../img/reporting--howwillwe--dt.jpg)
	padding: $global_spacing 0

.our-partners
	padding: $global_spacing 0

.colorido-container.pillar-tab__content.philanthropy
	.phil_col-3
		width: 40%

.explore-item:before
	display: none

// ::::: PARTIALS: FOOTER :::::
.footer_container
	+prdib
	height: auto
	//max-width: 1372px
	padding: 20px
	float: left
	width: 95%
	box-sizing: content-box

.footer_logo_main
	@media (max-width: 600px)
		#copy_right
			+prdib
			margin: auto
			top: -1px
			height: inherit
		@media (max-width: 600px)
			text-align: center
			padding: 0

.footer_list
	//margin-top: 15px
	//margin-bottom: 15px
	margin-right: 0
	margin-top: 0
	@media (max-width: 600px)
		width: 100%

//#separator
//	float: right
//	+prdib
//	+width_height(auto, 15px)
//	+margin_lr(10px, 10px)
//	margin-top: 13px
//	margin-bottom: auto
//	border-right: 1px solid lightgray

.sitemap,
.terms,
.privacy,
.more
	line-height: 40px
	font-size: .9em

.sitemap
	width: $social-width
.terms
	width: 26%
.privacy
	width: 22%
.more
	width: $social-width

#footer_social
	display: none

.social-media-icons
	height: 50px
	margin-bottom: 0
	text-align: center
	background: url(../img/Social_icon_white.png) no-repeat center 10px
	background-size: 100% auto

.social-media-icons_li
	+prdb
	float: left
	width: 18%
	padding: 0
	margin: 0 1%
	border-top: 0
	list-style: none

.social-media-icons_li a
	display: block
	+width_height(100%, 45px)
	cursor: pointer

