// ::::: TYPOGRAPHY :::::
html
    font-size: 15px

h1
    font-size: 1.8rem

h2
    font-size: 1.5rem
    font-weight: 500

h3
    font-size: 1.18rem

// ::::: GLOBAL :::::
.container
    width: 92%
    margin: 0 4%

.copy
    margin-top: 4%
    margin-bottom: 4%

// ::::: HEADER ::::: 

// ::::: FOOTER :::::

// ::::: HERO :::::
.hero--home
    background-image: url(../img/hero-home--tb.jpg)
    background-position: center bottom

.hero--pwp
    background-image: url(../img/hero-pwp--tb.jpg)


// ::::: PAGE: HOME :::::

.misvis
    padding-top: 4%

.explore
    padding: 4% 0

.explore-item
    width: 48%
    padding-top: 48%
    margin-bottom: 4%

    &:nth-child(odd)
        margin-right: 4%

.explore-item__heading
    font-size: 1.8rem

// ::::: HIGHLIGHT :::::
.highlight
    padding: 4% 0 0 0