// ::::: PAGE: BRANDS LIST :::::
.list-brands-container
    .list-brands > ul>li
        width: 25%

// ::::: PAGE: RECIPES LIST :::::
.list-recipes-container

    .list-recipes > ul>li
        width: 25%
 
// ::::: PAGE: NUTRITION :::::
.forward-brands
    ul.forward-brand-list 
        margin-left: -60px
        margin-right: -60px
        li
            > div 
                padding: 0 60px
                margin-bottom: 60px



// RECIPE AND BRANDS GRID
#grid
    .expander
        max-height: 0
    .is-li-open
        .expander
            max-height: 700px