// ::::: TYPOGRAPHY :::::
html
    font-size: 12.5px

h1
    font-size: 1.5rem

h2
    font-size: 1rem

h2
    em
        +prdb
        font-size: 2rem
        line-height: 2rem

h2, h3
    &.underline::after
        +prdb
        width: 100%
        content: ""
        height: 2px
        background-color: $wwb_blue
        margin: 1rem auto 2rem auto

h3
    +title-font-bold
    font-size: 2rem 

h4
    +title-font-regular
    font-size: 1.2rem
    text-transform: uppercase

h5
    font-size: 0.66rem

small 
    font-size: 0.6rem


// ::::: GLOBAL :::::
.container
    +prdb
    width: 84%
    margin: 0 8%
    +box-sizing


// ::::: HEADER :::::

// ::::: FOOTER :::::

// ::::: HERO :::::
.hero
    +prdb
    +box-sizing
    width: 100%
    height: auto
    padding: 6% 10%
    background-size: cover
    background-position: 23% center
    text-align: center

.hero__social-item
    +prdib
    +square(30px)
    +box-sizing
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    margin-bottom: 6%
    padding: 0
    font-size: 0

    transition: 0.1s ease transform

    &.hero__social-item--facebook
        background-image: url(../img/icon-facebook.png)

    &.hero__social-item--twitter
        background-image: url(../img/icon-twitter.png)

    &.hero__social-item--instagram
        background-image: url(../img/icon-instagram.png)

    &:nth-child(-n+2)
        margin-right: 6%

    span
        +cover
        +box-sizing
        +border-radius(100%)
        border: 1px solid white

    &:active
        transform: scale(2)

        span
            transform: scale(2)
            transition: 0.1s ease transform, 0.1s ease opacity
            +opacityz(0)

.hero__title
    +prdb
    width: 100%
    color: white
    text-align: center
    letter-spacing: 2px
    margin: 0 auto

    em
        +prdb
        font-size: 3.8rem
        line-height: 4rem

.title-lines
    
    &::before, &::after
        content: ""
        margin-left: auto
        margin-right: auto
        height: 2px
        width: 70%
        max-width: 280px
        background-color: white

    &::before
        margin-bottom: 1.5rem

    &::after
        margin-top: 1.5rem

@media screen and (max-width: 1023px)
    .title-lines-medium-down::before, .title-lines-medium-down::after
        +prdb

@media screen and (min-width: 1024px)
    .title-lines-large::before, .title-lines-large::after
        +prdb

.hero__desktop-copy
    +dn

.hero__mobile-copy
    +prdb
    overflow: hidden
    background-color: $light_grey

.hero__anchor
    +prdib
    +box-sizing
    +unstyled-anchor
    +title-font
    $height: 30px
    height: $height
    clear: both
    text-transform: uppercase
    padding: 0 22px
    line-height: ($height - 2px)
    font-size: 1.2rem
    vertical-align: top
    color: white
    border: 1px solid white
    border-radius: $height
    margin-top: 2rem
    text-align: center
    background-color: rgba(0,0,0,0.5)
    transition: 0.1s ease background-color

    &:hover

        background-color: rgba(0,0,0,0.8)

    &:active
        transition: none
        background-color: rgba(255,255,255,0.8)
        color: black

.hero__anchor-icon
    +prdib
    height: 10px
    margin: 9px -4px 0 5px
    vertical-align: top


// ::::: HIGHLIGHT :::::
.highlight
    +prdb
    background-color: $extralight_grey
    overflow: hidden
    padding: 8% 0

.highlight__header
    margin-top: 0

.highlight__desktop-copy
    +dn

.highlight__desktop-copy, .highlight__mobile-copy
    margin-bottom: 0

.highlight__media
    +prdb
    width: 100%

.highlight__video-wrap
    +prdb
    padding-bottom: 56.25% /* 16:9 */
    height: 0

    .highlight__media
        +cover


// ::::: EXPLORE :::::
.explore
    +prdb
    padding: 8% 0
    text-align: center
    color: white

.explore-item
    +prdib
    width: 46%
    padding-top: 46%
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    margin-bottom: 8%
    overflow: hidden

    &:nth-child(odd)
        margin-right: 8%
    &:last-child
        margin: 0

    .colour-overlay
        +cover
        +opacityz(0)

    &:hover .colour-overlay
        +opacityz(0.3)

    &:active .colour-overlay
        +opacityz(0.7)

.explore__heading-wrap
    +padb
    +box-sizing
    top: 0
    left: 0
    width: 100%
    height: 100%
    +no-pointer-events
    
.explore__heading-wrap2
    +prdt
    width: 100%
    height: 100%
    margin: 0
    padding: 0
    outline: 0
    border: 0
    vertical-align: middle
    text-align: center

.explore-item__heading
    +prdtc
    +title-font-regular
    font-size: 1.3rem
    text-transform: uppercase
    height: 100%
    width: 100%
    vertical-align: middle
    text-align: center
    margin: 0
    padding: 0 10%
    outline: 0
    border: 0


