---
title:          "Brands | Pepsico"
description:    "Our brands."
page_id:        "brands"
---

<!-- START MAIN CONTENT -->
<div class="page__content page__brands">

	{{>hero-static heros.brands}}
	
	{{!-- {{>media-highlight highlights.brands}} --}}

	<section class="search-blue">
		<div class="container">
			<h3>Search brands</h3>
			<div class="form">
				<form action="" role="search">
					<input type="text" name="search" placeholder="Start searching...">
					<input type="submit" value="submit" name="submit">
				</form>
			</div>
		</div>
	</section>

	<section class="list-brands-container">
		<div class="container">
			<ul class="categories tabs-select">
				<li>
					<div>
						<a href="" class="is-active">Top global brands</a>
					</div>
				</li>
				<li>
					<div>
						<a href="#">Beverages</a>
					</div>
				</li>
				<li>
					<div>
						<a href="#">Snacks</a>
					</div>
				</li>
				<li>
					<div>
						<a href="#">Nutrition</a>
					</div>
				</li>
			</ul>


			<article class="list-brands">
				<ul id="grid">
					<li class="">
						<a href="javascript:void(0)">
							<figure>
								<img src="img/brands/pepsi-full.jpg" alt="Brand name"/>
								<img class="mask open" src="img/mask-open.png" alt=""/>
								<img class="mask close" src="img/mask.png" alt=""/>
							</figure>
						</a>
						
						{{>brand-details brand='pepsi'}}
					</li><li class="">
						<a href="javascript:void(0)">
							<figure>
								<img src="img/brands/lays-full.jpg" alt="Brand name"/>
								<img class="mask open" src="img/mask-open.png" alt=""/>
								<img class="mask close" src="img/mask.png" alt=""/>
							</figure>
						</a>
						{{>brand-details brand='lays'}}
					</li><li class="">
						<a href="javascript:void(0)">
							<figure>
								<img src="img/brands/mtn-dew-full.jpg" alt="Brand name"/>
								<img class="mask open" src="img/mask-open.png" alt=""/>
								<img class="mask close" src="img/mask.png" alt=""/>
							</figure>
						</a>
						{{>brand-details brand='mtn dew'}}
					</li><li class="">
						<a href="javascript:void(0)">
							<figure>
								<img src="img/brands/g-full.jpg" alt="Brand name"/>
								<img class="mask open" src="img/mask-open.png" alt=""/>
								<img class="mask close" src="img/mask.png" alt=""/>
							</figure>
						</a>
						{{>brand-details brand='g'}}
					</li><li class="">
						<a href="javascript:void(0)">
							<figure>
								<img src="img/brands/cheetos.jpg" alt="Brand name"/>
								<img class="mask open" src="img/mask-open.png" alt=""/>
								<img class="mask close" src="img/mask.png" alt=""/>
							</figure>
						</a>
						{{>brand-details brand='Cheetos'}}
					</li><li class="">
						<a href="javascript:void(0)">
							<figure>
								<img src="img/brands/pepsi-diet.jpg" alt="Brand name"/>
								<img class="mask open" src="img/mask-open.png" alt=""/>
								<img class="mask close" src="img/mask.png" alt=""/>
							</figure>
						</a>
						{{>brand-details brand='Pepsi'}}
					</li><li class="">
						<a href="javascript:void(0)">
							<figure>
								<img src="img/brands/mirinda.jpg" alt="Brand name"/>
								<img class="mask open" src="img/mask-open.png" alt=""/>
								<img class="mask close" src="img/mask.png" alt=""/>
							</figure>
						</a>
						{{>brand-details brand='Mirinda'}}
					</li><li class="">
						<a href="javascript:void(0)">
							<figure>
								<img src="img/brands/lipton-ice-tea.jpg" alt="Brand name"/>
								<img class="mask open" src="img/mask-open.png" alt=""/>
								<img class="mask close" src="img/mask.png" alt=""/>
							</figure>
						</a>
						{{>brand-details brand='Lipton Ice tea'}}
					</li><li class="">
						<a href="javascript:void(0)">
							<figure>
								<img src="img/brands/tropicana.jpg" alt="Brand name"/>
								<img class="mask open" src="img/mask-open.png" alt=""/>
								<img class="mask close" src="img/mask.png" alt=""/>
							</figure>
						</a>
						{{>brand-details brand='Tropicana'}}
					</li><li class="">
						<a href="javascript:void(0)">
							<figure>
								<img src="img/brands/7up.jpg" alt="Brand name"/>
								<img class="mask open" src="img/mask-open.png" alt=""/>
								<img class="mask close" src="img/mask.png" alt=""/>
							</figure>
						</a>
						{{>brand-details brand='7up'}}
					</li><li class="">
						<a href="javascript:void(0)">
							<figure>
								<img src="img/brands/quaker.jpg" alt="Brand name"/>
								<img class="mask open" src="img/mask-open.png" alt=""/>
								<img class="mask close" src="img/mask.png" alt=""/>
							</figure>
						</a>
						{{>brand-details brand='Quaker'}}
					</li><li class="">
						<a href="javascript:void(0)">
							<figure>
								<img src="img/brands/doritos.jpg" alt="Brand name"/>
								<img class="mask open" src="img/mask-open.png" alt=""/>
								<img class="mask close" src="img/mask.png" alt=""/>
							</figure>
						</a>
						{{>brand-details brand='Doritos'}}
					</li>
				</ul>
			</article>
		</div>
	</section>



</div>
<!-- END MAIN CONTENT -->