---
title:          "Our Commitments | Pepsico"
description:    "We commit to stuff."
page_id:        "commitments"
---

<!-- START MAIN CONTENT -->
<div class="page__content">

    {{>hero-static heros.commitments}}
    
    {{>media-highlight highlights.commitments}}

    <section class="focus-areas">

        <div class="container">
            
            <div class="contained-copy">
                <h3 class="underline">Performance with purpose in action</h3>
                <p class="copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores voluptatibus quae facere unde! Tenetur non nihil officiis, illo, quos ad, fugit voluptatum veniam et.</p>
            </div>
        
        </div>

    </section>

    {{>explore-tiles explore}}

</div>
<!-- END MAIN CONTENT -->