---
title:          "Governance | Pepsico"
description:    "We commit to stuff."
page_id:        "governance_dropdown"
---

<!-- START MAIN CONTENT -->
<div class="page__content">
    <section class="pwp-breakdown gov">
        <div class="colorido-container">
            <div class="pwp-breakdown-copy">
                <h2 class="pwp-breakdown__header underline">Sustainability
                    <em>Governance</em></h2>
            </div>

            <div class="pillar-item__content gov right">
                <div class="pillar_content colorido-container gov">
                    <div class="">
                        <img class="leadership_img" id="leadership_img" src="img/Leadership_image.png"/>
                    </div>
                    <div class="pillar_content_bottom_right gov">
                        <div class="hero__social gov">
                            <h4 class="h2-az"><em>share</em>
                                <div id="footer_social">
                                    <ul class="social-media-icons" id="az_social_icon_ul">
                                        <li><a class="facebook" href="#"></a></li>
                                        <li><a class="twitter" href="#"></a></li>
                                        <li><a class="linkedIn" href="#"></a></li>
                                        <li><a class="email" href="#"></a></li>
                                    </ul>
                                </div>
                            </h4>
                        </div>
                    </div>
                    <div class="pillar_content_bottom_right gov" >
                        <h4>AVAILABLE DOWNLOADS</h4>
                        <div class="pillar-item__content download gov" id="available_downloads">
                            <form class="pillar-item__content_lang" method="GET" action="">
                                <select class="pillar-item__content_lan-select form-control">
                                    <option value="1">select a language...</option>
                                    <option value="2">language 1</option>
                                    <option value="3">language 2</option>
                                    <option value="3">language 3</option>
                                    <option value="3">language 4</option>
                                </select>
                            </form>
                            <a href="#" id="gov_download">
                                <span>2016 Report</span>
                            </a>
                            <span class="align-right" id="pdf_block1">PDF | 897KB</span>
                        </div>

                        <div class="pillar-item__content download gov" id="available_downloads">
                            <form class="pillar-item__content_lang" method="GET" action="">
                                <select class="pillar-item__content_lan-select form-control">
                                    <option value="1">select a language...</option>
                                    <option value="2">language 1</option>
                                    <option value="3">language 2</option>
                                    <option value="3">language 3</option>
                                    <option value="3">language 4</option>
                                </select>
                            </form>
                            <a href="#" id="gov_download">
                                <span>2017 Report</span>
                            </a>
                            <span class="align-right" id="pdf_block1">PDF | 897KB</span>
                        </div>

                    </div>
                    <div class="pillar_content_bottom_left gov">
                        <h4 class="pillar_content_item gov">Related Topics</h4>
                        <div class=""><a href="#">Deforestation</a></div>
                        <div class=""><a href="#">Palm Oil</a></div>
                        <div class=""><a href="#">Farm Animal Welfare</a></div>
                    </div>
                </div>
            </div>

            <div class="colorido-container gov left">
                <div class="pillar-item__content gov left">
                    <h2><em>GOVERNANCE AS A DRIVER OF PERFORMANCE</em></h2>
                    <p class="pillar_copy gov">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam.</p>
                </div>                        <div class="pillar-item__content gov left">
                <h2><em>ROLE OF THE BOARD OF DIRECTORS </em></h2>
                <p class="pillar_copy gov">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam.</p>
            </div>                        <div class="pillar-item__content gov left">
                <h2><em>ROLE OF PEPSICO&#x27;S SENIOR LEADERSHIP </em></h2>
                <p class="pillar_copy gov">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam.</p>
                <p class="pillar_copy gov">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam.</p>
                <p class="pillar_copy gov">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam.</p>
                <p class="pillar_copy gov">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam.</p>
            </div>                        <div class="pillar-item__content gov left">
                <h2><em>THEMATIC AND GEOGRPHIC LEADERSHIP</em></h2>
                <p class="pillar_copy gov">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam.</p>
            </div>                        <div class="pillar-item__content gov left">
                <h2><em>PEPSICO SUSTAINABILITY OFFICE</em></h2>
                <p class="pillar_copy gov">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam.</p>
                <p class="pillar_copy gov">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam.</p>
                <p class="pillar_copy gov">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ex, illum itaque, iusto aliquam.</p>
            </div>            </div>

            <div class="pillar_content_bottom_left gov second">
                <h4 class="pillar_content_item gov">Related Topics</h4>
                <div class=""><a href="#">Deforestation</a></div>
                <div class=""><a href="#">Palm Oil</a></div>
                <div class=""><a href="#">Farm Animal Welfare</a></div>
            </div>
        </div>
    </section>

</div>
<!-- END MAIN CONTENT -->