---
title:          "What We Believe | Pepsico"
description:    "We believe some stuff."
---

<!-- START MAIN CONTENT -->
<div class="page__content">

    {{>hero-static heros.home}}
    
    <!-- START OUR MISSION/VISION -->
    <section class="misvis">
        <div class="container">
            <div class="misvis__item">
                <img src="img/our-mission.jpg" alt="Our Mission">
                <p class="copy">Lorem ipsum dolor sit amet, consectetur adipising elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p class="copy">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipising elit, sed do eiusmod tempor.</p>
            </div><!--
            --><div class="misvis__item">
                <img src="img/our-vision.jpg" alt="Our Vision">
                <p class="copy">Lorem ipsum dolor sit amet, consectetur adipising elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipising elit, sed do eiusmod tempor.</p>
            </div>
        </div>
    </section>
    <!-- END OUR MISSION/VISION -->

    {{>principles}}
    
    {{>explore-tiles explore}}

</div>
<!-- END MAIN CONTENT -->