---
title:          "What We Believe | Pepsico"
description:    "We believe some stuff."
---

<!-- START MAIN CONTENT -->
<div class="page__content">

    {{>hero-static heros.home}}
    
</div>
<!-- END MAIN CONTENT -->