---
title:          "What We Believe | Pepsico"
description:    "We believe some stuff."
page_id:        "home"
---

<!-- START MAIN CONTENT -->
<div class="page__content">

    {{>hero-static heros.home}}
    
    <!-- START OUR MISSION/VISION -->
    <section class="misvis">
        <div class="container">
            <div class="misvis__item" id="misvis__item--our-mission">
                <img src="img/our-mission.jpg" alt="Our Mission">
                <p class="copy">As one of the largest food and beverage companies in the world, our mission is to provide consumers around the world with delicious, affordable, convenient and complementary foods and beverages from wholesome breakfasts to healthy and fun daytime snacks and beverages to evening treats.</p>
                
                <p class="copy">We are committed to investing in our people, our company and the communities where we operate to help position the company for long-term, sustainable growth.</p>
                {{!-- <span class="readz"></span> --}}
            </div><!--
            --><div class="misvis__item">
                <img src="img/our-vision.jpg" alt="Our Vision">
                <p class="copy">At PepsiCo, we aim to deliver top-tier financial performance over the long term by integrating sustainability into our business strategy, leaving a positive imprint on society and the environment. We call this <strong>Performance with Purpose</strong>.</p>

                <p class="copy">This vision means creating products that our consumers are eager to buy and our employees are proud to sell.</p>

                <p class="copy">It starts with what we make— a wide range of foods and beverages from the indulgent to the more nutritious; extends to how we make our products— conserving precious natural resources and fostering environmental responsibility in and beyond our operations; and considers those who make them— striving to support communities where we work and the careers of generations of talented PepsiCo employees.</p>

                {{!-- <span class="readz"></span> --}}

            </div>
        </div>
    </section>
    <!-- END OUR MISSION/VISION -->

    {{>principles}}
    
    {{>explore-tiles explore}}

</div>
<!-- END MAIN CONTENT -->