---
title:          "Nutrition | Pepsico"
description:    "Nutrition."
page_id:        "nutrition"
---

<!-- START MAIN CONTENT -->
<div class="page__content page__nutrition">

	{{>hero-cinemagraph heros.nutrition}}
	
	{{!-- {{>media-highlight highlights.brands}} --}}


</div>
<!-- END MAIN CONTENT -->