---
title:          "Nutrition | Pepsico"
description:    "Nutrition."
page_id:        "nutrition"
---

<!-- START MAIN CONTENT -->
<div class="page__content page__nutrition">

	{{>hero-cinemagraph heros.nutrition}}
	
	{{!-- {{>media-highlight highlights.brands}} --}}

	<section class="our-story nutrition-section">

        <div class="container">
            
            <div class="nutrition-breakdown-copy">
                <h2 class="underline">Our nutrition <em>story</em></h2>
                <p class="copy">To align with our PwP 2025 agenda, earlier this year, our Board refined the roles of its Committees by creating a new Public Policy and Sustainability Committee. The new Committee will assist the Board in providing more focused oversight over the Company’s policies, programs and related risks that concern key sustainability matters. The Committee, which meets three times per year, beginning in 2017, is comprised entirely of independent directors, and was carefully chosen to represent exttpertise in the scientific, financial, technological and non-profit sectors.</p>
            </div>
        </div>

    </section>

    <section class="our-commitment-to-nutrition nutrition-section">
        <div class="container">
            <div class="nutrition-breakdown-copy">
                <h3 class="simple underline">our commitment to nutrition &amp; WHAT WE BRING TO THE TABLE</h3>
                <figure>
                	<img src="img/nutrition/commitment-to-nutrition.jpg" alt="">
                </figure>
                <p class="copy">To align with our PwP 2025 agenda, earlier this year, our Board refined the roles of its Committees by creating a new Public Policy and Sustainability Committee. The new Committee will assist the Board in providing more focused oversight over the Company’s policies, programs and related risks that concern key sustainability matters. The Committee, which meets three times per year, beginning in 2017, is comprised entirely of independent directors, and was carefully chosen to represent expertise in the scientific, financial, technological and non-profit sectors.</p>

				<p class="copy">PepsiCo is committed to helping people eat better every day. We have a portfolio of brands people know and trust that provide positive nutrients including whole grains, fiber, fruit, vegetables, dairy and protein. What's more, we are proud of how we make our products. We grow and produce the highest quality ingredients, employ some of the most talented and experienced people in the industry and use innovative processes to responsibly and safely produce affordable, nutritious foods and beverages.</p>
            </div>
        </div>
    </section>

    <section class="farming nutrition-section">
        <div class="container">
        	 <h2 class="underline">growing &amp; <em>farming</em></h2>
        </div>
    </section>

    <section class="contributors nutrition-section">
        <div class="container">
        	<h3 class="underline">POSITIVE CONTRIBUTIONS TO AMERICA'S DIETS</h3>
        	<p class="copy">
        		Good eating gets easier when nutrition is both accessible  and enjoyable. We’re proud to produce and widely distribute delicious foods and beverages that make important dietary contributions.
        	</p>
        	<p class="copy">GATEWAY TO  GOOD NUTRITION<br />
        		We’re constantly evolving PepsiCo brands to be gateways to good nutrition, helping address the recognized deficits in the American diet. That means we offer easy ways for people to incorporate positive nutrients into everyday life — from ‘drinkable’ vegetables and grains to snackable protein. Enjoyment and convenience are important factors in eating well, and our brands help deliver both.
        	</p>
        	<p class="copy">PURPOSE BEYOND THE PRODUCT<br />
				Our commitment to ensuring more people have access to good nutritious foods and beverages goes beyond our brands, contributing to a larger purpose of supporting underserved communities and consumers. In fact, our goal is to provide access to 3 billion servings by 2025.Just one example of how we’re working toward that goal is our Food For Good program. For more than 8 years this purpose-led business initiative has worked with non-profits and government agencies  tackle child hunger in the U.S. by making healthy food more accessible to low-income families. Food for Good has served more than 48 million servings in 14 U.S. cities — after school, on weekends, and in the summer months — when they don’t typically have access to meals at school.
        	</p>
        </div>
    </section>

	
	<section class="forward-brands nutrition-section">
        <div class="container">
        	<h3 class="underline">NUTRITION - FORWARD BRANDS</h3>
			<p class="copy">At PepsiCo, we make food and beverage products that are enjoyed by millions  of people every day. We know people want more positive nutrition from their foods, so we are expanding and evolving our products to meet their priorities. We are constantly investing in the talent and technologies  to ensure anyone, anywhere, can make food and beverage  choices they both enjoy and can feel good about.</p>

			<ul class="forward-brand-list">
				<li>
					<div>
						<img src="img/nutrition/brand-naked.jpg" alt="">
					</div>
				</li><li>
					<div>
						<img src="img/nutrition/brand-tropicana.jpg" alt="">
					</div>
				</li><li>
					<div>
						<img src="img/nutrition/brand-quaker.jpg" alt="">
					</div>
				</li><li>
					<div>
						<img src="img/nutrition/brand-kevita.jpg" alt="">
					</div>
				</li><li>
					<div>
						<img src="img/nutrition/brand-near-east-couscous.jpg" alt="">
					</div>
				</li><li>
					<div>
						<img src="img/nutrition/brand-sabra.jpg" alt="">
					</div>
				</li>
			</ul>
        </div>
    </section>
	<section class="forward-brands nutrition-section">
        <div class="container">
    		<h5>See What‘s Inside our 2016 NUTRITION Report</h5>
    
</div>
<!-- END MAIN CONTENT -->