---
title:          "People | Pepsico"
description:    "We do stuff for people."
page_id:        "people"
---

<!-- START MAIN CONTENT -->
<div class="page__content">

    {{>hero-cinemagraph heros.people}}

    {{>pillar-tabs pillar-blurb.people}}

</div>
<!-- END MAIN CONTENT -->