---
title:          "Performance with Purpose | Pepsico"
description:    "We perform stuff."
page_id:        "pwp"
---

<!-- START MAIN CONTENT -->
<div class="page__content">

    {{>hero-static heros.pwp}}
    
    {{>media-highlight highlights.pwp}}

    <section class="focus-areas">

        <div class="container">
            
            <div class="contained-copy">
                <h3 class="underline">Our focus areas</h3>
                <p class="copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores voluptatibus quae facere unde! Tenetur non nihil officiis, illo, quos ad, fugit voluptatum veniam et.</p>
                <p class="copy wangotron__tap-cta">Tap a category for more information</p>
            </div>
            
            {{>wangotron}}

        </div>

    </section>

    <section class="our-progress">

        <div class="container">
            
            <div class="contained-copy">
                <h3 class="underline">Our progress</h3>
                <p class="copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores voluptatibus quae facere undez.</p>
            </div>

        </div>
        
        {{>progress-timeline type='pwp'}}

    </section>

</div>
<!-- END MAIN CONTENT -->