---
title:          "Performance with Purpose | Pepsico"
description:    "We perform stuff."
page_id:        "pwp"
---

<!-- START MAIN CONTENT -->
<div class="page__content">
    <section class="pwp-breakdown topics">
        <div class="colorido-container">
            <div class="pwp-breakdown-copy">
                <h2 class="pwp-breakdown__header underline"><em>Performance with Purpose</em></h2>
                <p class="topics">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut laboreet dolore magna aliqua. Ut enim ad minimLorem ipsum dolor
                    sit amet, consectetur adipisicing elit
                </p>
            </div>
        </div>
    </section>
    {{>hero-static heros.pwp}}
    {{>media-highlight highlights.pwp}}

    <section class="focus-areas">
        <div class="colorido-container">
            <div class="contained-copy">
                <h3 class="underline">Our focus areas</h3>
                <p class="copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores voluptatibus quae facere unde! Tenetur non nihil officiis, illo, quos ad, fugit voluptatum veniam et.</p>
                <p class="copy wangotron__tap-cta">Tap a category for more information</p>
            </div>
            
            {{>wangotron}}

        </div>
    </section>

    <section class="our-progress">
        <div class="colorido-container">
            <div class="contained-copy">
                <h3 class="underline">Our progress</h3>
                <p class="copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores voluptatibus quae facere undez.</p>
            </div>
        </div>
        
        {{>progress-timeline type='pwp'}}

    </section>

</div>
<!-- END MAIN CONTENT -->