---
title:          "Philanthropy | Pepsico"
description:    "Philanthropy"
page_id:        "philanthropy"
---

<!-- START MAIN CONTENT -->
<div class="page__content">
    <section class="pwp-breakdown topics">
        <div class="colorido-container">
            <div class="pwp-breakdown-copy">
                <h2 class="pwp-breakdown__header underline"><em>philanthropy</em></h2>
                <p class="topics" style="margin: 40px 40px">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut laboreet dolore magna aliqua. Ut enim ad minimLorem ipsum dolor
                    sit amet,
                    consectetur adipisicing elit
                </p>
            </div>
        </div>
    </section>

    {{>pillar-tabs pillar-blurb.planet}}

    <div class="page__content">
        <section class="our-progress" id="phil_progress">
            <div class="colorido-container">
                <div class="contained-copy">
                    <h2 class="underline" id="phil_header-underline">Recent <em>Stories</em></h2>
                    <p class="copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores voluptatibus quae facere undez.</p>
                </div>
            </div>
            {{>progress-timeline type='pillar'}}
        </section>
    </div>









    <section class="pwp-breakdown topics" id="phil_report">
        <div class="colorido-container" id="phil_report_container">
            <div class="pwp-breakdown-copy" id="phil_report_left">
                <h2 class="pwp-breakdown__header underline phil">Financial Year 2016<em>Hightlights</em></h2>
                <p class="topics phil" style="margin: 40px 40px">Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit,
                    sed do eiusmod tempor incididunt ut laboreet dolore magna aliqua. Ut enim ad minimLorem ipsum dolor
                    sit amet, consectetur adipisicing elit
                </p>
                <div class="download" id="phil_report_left_download">
                    <h4>DOWNLOAD OUR LATEST EARNINGS REPORT</h4>
                    <a href=""><span>Q1 2017 Pepsico Earnings Report</span> <span class="align-right">PDF | 897KB</span></a>
                </div>
            </div>
            <div class="pwp-breakdown-copy" id="phil_report_right">
                <h2 class="pwp-breakdown__header underline phil">Request<em>Support</em></h2>
                <p class="topics phil" style="margin: 40px 40px">Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit,
                    sed do eiusmod tempor incididunt ut laboreet dolore magna aliqua. Ut enim ad minimLorem ipsum dolor
                    sit amet,
                    consectetur adipisicing elit
                </p>
                <div class="btn discover" id="phil_report_right_btn"><a>CONTACT US<img
                        src="img/icon-arrow-right.png"></a></div>
            </div>
        </div>
    </section>
</div>
<!-- END MAIN CONTENT -->