---
title:          "Recipes | Pepsico"
description:    "Our recipes."
page_id:        "recipes"
---

<!-- START MAIN CONTENT -->
<div class="page__content page__recipes">

	{{>hero-static heros.recipes}}
	
	{{!-- {{>media-highlight highlights.brands}} --}}

	<section class="search-blue">
		<div class="container">
			<h3>Search recipes</h3>
			<div class="form">
				<form action="" role="search">
					<input type="text" name="search" placeholder="Start searching...">
					<input type="submit" value="submit" name="submit">
				</form>
			</div>
		</div>
	</section>

	<section class="list-recipes-container">
		<div class="container">

			<article class="list-recipes">
				<ul id="grid">
					<li>
						<a href="javascript:void(0)">
							<figure>
								<img src="img/recipes/recipe-1.jpg" alt="Recipe photo"/>
								<figcaption>
									<div>
										<h2>Herb Pesto antd Mushroom Rice Bowl</h2>
										<p>Featuring Tofesstittos Dip and Near East</p>
									</div>
								</figcaption>
							</figure>
						</a>
						
						{{>recipe-details recipe-name='Herb Pesto antd Mushroom Rice Bowl' recipe-featuring="" }}
					</li><li>
						<a href="javascript:void(0)">
							<figure>
								<img src="img/recipes/recipe-2.jpg" alt="Recipe photo"/>
								<figcaption>
									<div>
										<h2>Vanilla Almond Waffles with Peach Compote</h2>
										<p>Featuring Starbucks and Nut Harvest</p>
									</div>
								</figcaption>
							</figure>
						</a>
						
						{{>recipe-details recipe-name='Vanilla Almond Waffles with Peach Compote' recipe-featuring="" }}
					</li><li>
						<a href="javascript:void(0)">
							<figure>
								<img src="img/recipes/recipe-3.jpg" alt="Recipe photo"/>
								<figcaption>
									<div>
										<h2>Fritos Top N Go: Mexican Corn Nachos</h2>
										<p>Featuring Fritos</p>
									</div>
								</figcaption>
							</figure>
						</a>
						
						{{>recipe-details recipe-name='Fritos Top N Go: Mexican Corn Nachos' recipe-featuring="" }}
					</li><li>
						<a href="javascript:void(0)">
							<figure>
								<img src="img/recipes/recipe-4.jpg" alt="Recipe photo"/>
								<figcaption>
									<div>
										<h2>Mango-Sriracha Glazed Drumsticks</h2>
										<p>Featuring Naked Juice and Lay's</p>
									</div>
								</figcaption>
							</figure>
						</a>
						
						{{>recipe-details recipe-name='Mango-Sriracha Glazed Drumsticks' recipe-featuring="" }}
					</li><li>
						<a href="javascript:void(0)">
							<figure>
								<img src="img/recipes/recipe-5.jpg" alt="Recipe photo"/>
								<figcaption>
									<div>
										<h2>Pita Chip and Hummus Crusted Salmon</h2>
										<p>Featuring Stacy's and Sabra</p>
									</div>
								</figcaption>
							</figure>
						</a>
						
						{{>recipe-details recipe-name='Pita Chip and Hummus Crusted Salmon' recipe-featuring="" }}
					</li><li>
						<a href="javascript:void(0)">
							<figure>
								<img src="img/recipes/recipe-6.jpg" alt="Recipe photo"/>
								<figcaption>
									<div>
										<h2>Root Beer Marinated Shrimp Tacos</h2>
										<p>Featuring MUG and Fritos</p>
									</div>
								</figcaption>
							</figure>
						</a>
						
						{{>recipe-details recipe-name='Root Beer Marinated Shrimp Tacos' recipe-featuring="" }}
					</li><li>
						<a href="javascript:void(0)">
							<figure>
								<img src="img/recipes/recipe-7.jpg" alt="Recipe photo"/>
								<figcaption>
									<div>
										<h2>Tropical Rice Salad</h2>
										<p>Featuring Rice-A-Roni, Naked Juice and El Isleño</p>
									</div>
								</figcaption>
							</figure>
						</a>
						
						{{>recipe-details recipe-name='Tropical Rice Salad' recipe-featuring="Featuring Rice-A-Roni, Naked Juice and El Isleño" }}
					</li><li>
						<a href="javascript:void(0)">
							<figure>
								<img src="img/recipes/recipe-8.jpg" alt="Recipe photo"/>
								<figcaption>
									<div>
										<h2>Thai Chicken Lettuce Cups</h2>
										<p>Featuring Fritos</p>
									</div>
								</figcaption>
							</figure>
						</a>
						
						{{>recipe-details recipe-name='Thai Chicken Lettuce Cups' recipe-featuring="Featuring Fritos" }}
					</li><li>
						<a href="javascript:void(0)">
							<figure>
								<img src="img/recipes/recipe-9.jpg" alt="Recipe photo"/>
								<figcaption>
									<div>
										<h2>Fruity Smoothie Ice Pops</h2>
										<p>Featuring Tropicana Juices</p>
									</div>
								</figcaption>
							</figure>
						</a>
						
						{{>recipe-details recipe-name='Fruity Smoothie Ice Pops' recipe-featuring="Featuring Tropicana Juices" }}
					</li><li>
						<a href="javascript:void(0)">
							<figure>
								<img src="img/recipes/recipe-10.jpg" alt="Recipe photo"/>
								<figcaption>
									<div>
										<h2>Watermelon-Goat Cheese Bites & Watermelon Basil Lemonade</h2>
										<p>Featuring Fritos</p>
									</div>
								</figcaption>
							</figure>
						</a>
						
						{{>recipe-details recipe-name='Watermelon-Goat Cheese Bites & Watermelon Basil Lemonade' recipe-featuring="Featuring Fritos" }}
					</li>
					<li>
						<a href="javascript:void(0)">
							<figure>
								<img src="img/recipes/recipe-11.jpg" alt="Recipe photo"/>
								<figcaption>
									<div>
										<h2>Grilled Mexican Corn</h2>
										<p>Featuring Lays Dip and Doritos</p>
									</div>
								</figcaption>
							</figure>
						</a>
						
						{{>recipe-details recipe-name='Grilled Mexican Corn' recipe-featuring="Featuring Lays Dip and Doritos" }}
					</li>
					<li>
						<a href="javascript:void(0)">
							<figure>
								<img src="img/recipes/recipe-12.jpg" alt="Recipe photo"/>
								<figcaption>
									<div>
										<h2>Avocado Toast</h2>
										<p>Featuring Frito-Lay and Sabra</p>
									</div>
								</figcaption>
							</figure>
						</a>
						
						{{>recipe-details recipe-name='Avocado Toast' recipe-featuring="Featuring Frito-Lay and Sabra" }}
					</li>
				</ul>
			</article>
		</div>
	</section>



</div>
<!-- END MAIN CONTENT -->