---
title:          "Reporting | Pepsico"
description:    "We report stuff."
page_id:        "reporting"
---

<!-- START MAIN CONTENT -->
<div class="page__content">

    <section class="pwp-breakdown topics">
        <div class="colorido-container">
            <div class="pwp-breakdown-copy">
                <h2 class="pwp-breakdown__header underline"><em>Sustainability reporting</em></h2>
                <p class="topics">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut laboreet dolore magna aliqua. Ut enim ad minimLorem ipsum dolor
                    sit amet,
                    consectetur adipisicing elit
                </p>
            </div>
        </div>
    </section>

    {{>hero-static heros.reporting}}

    <section class="latest-reports">
        <div class="colorido-container">
            <div class="latest-downloads">
                <h2 class="latest-downloads__header underline">Download our <em>latest reports</em></h2>
                <p class="copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                {{>downloads type="latest"}}
                {{>report-slider}}
            </div>
        </div>
    </section>

    <section class="previous-reports">
        <div class="colorido-container">
            <h2 class="prevous-downloads__header underline">Previous <em>reports</em></h2>
            <p class="copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="previous-downloads">
                <div class="downloads-accordian-header previous-downloads--header" data-type="previous">
                    <h4>Past sustainability and global reporting initiative reports</h4>
                </div>
                {{>downloads type="previous"}}
            </div>
            <div class="specific-downloads">
                <div class="downloads-accordian-header specific-downloads--header" data-type="specific">
                    <h4>Regional and topic-specific reports</h4>
                </div>
                {{>downloads type="specific"}}
            </div>
        </div>
    </section>


    <section class="latest-reports">
        <div class="colorido-container">
            <div class="sust-gov">
                <h2 class="sust-gov__header underline">Sustainability <em>governance</em></h2>
                <p class="copy">The Sustainability Task Force, chaired by PepsiCo’s Vice Chairman, leads our corporate sustainability strategy development, an integral part of our overall business objectives planning.
                <p class="copy">This effort is executed in partnership with leadership teams that oversee the three focus areas of Performance with Purpose: human, environmental and talent sustainability, and with the operational leads of each of our businesses.</p>
                <p class="copy">The leadership teams are responsible for developing a strategy for each Performance with Purpose focus area, driving implementation, and identifying and addressing issues and risks that are then communicated to the Sustainability Task Force for action.</p>
                <p class="copy">The Sustainability Task Force regularly updates the chairman and CEO along with the PepsiCo Executive Committee on sustainability stakeholder-related matters.</p>
            </div>
            <div class="stakeholder-engagement">
                <h2 class="stakeholder-engagement__header underline">Stakeholder <em>engagement</em></h2>
                <p class="copy">We count on our stakeholders across the globe to engage and partner with us on how we can continuously improve, innovate and adapt. This feedback is critical to our long-term success and we are deeply appreciative of all of our stakeholder partners who help us advance our sustainability goals.</p>
                <p class="copy">Comments</p>
                <p class="copy">We welcome all comments and inquiries about PepsiCo’s 2014 Sustainability Report by email at <a class="blue-link" href="mailto:performancewithpurpose@pepsico.com">performancewithpurpose@pepsico.com</a>.</p>
            </div>
        </div>
    </section>



    <section class="howwillwe-plug">
        <div class="colorido-container special">
            <h2 class="underline"><em>How will we</em></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <a href="https://www.howwillwe.com" class="btn" target="_blank">Discover more <img class="btn__icon" src="img/icon-arrow-right.png" /></a>
        </div>
    </section>

    <section class="our-partners">
        <div class="colorido-container">
            <h2 class="underline">Our <em>partners</em></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <div class="partners-list">
                {{#each partners ~}}
                    <ul class="list">
                        {{#each this ~}}
                            <li>{{this}}</li>
                        {{~/each}}
                    </ul>
                {{~/each}}
            </div>
        </div>
    </section>

</div>
<!-- END MAIN CONTENT -->