// header cover
.pwp-breakdown.gov
    float: left
    +width_height(100%, auto)
    position: relative
    display: block
    color: #666666
    background-color: #d7d6d3
    padding: 0 0 3%

.pwp-breakdown.gov.header
    padding: 3% 0

h2.underline.gov
    font-family: 'Oswald Light'
    em
        font-size: 5rem
        line-height: 5rem
    &::after
        margin: 1rem auto 2rem auto
        height: 4px

.pillar-item__content.gov.right
    +prdb
    padding: 0
    float: right
    width: 30%
    float: left
    +width_height(100%, auto)
    position: relative
    display: block
    color: #666666
    background-color: #d7d6d3
    padding: 0 0 3% 0

.colorido-container.gov
    padding: 0

.colorido-container.gov.right
    margin: 0
    padding: 0
    width: 100% !important

.colorido-container.gov.left
    margin: 0
    padding: 0
    width: 100% !important
    float: left
    padding-right: 30px
    //padding-left: 4%
    word-break: normal
    color: rgb(102, 102, 102)
    h2
        margin-bottom: 20px
    em
        font-size: 3rem
        line-height: 3rem
    .pillar-item__content
        +db
        padding: 0
        background: transparent

.pillar-item__content.gov.left
    float: left
    margin-bottom: 5%



.pillar_copy.gov
    font-family: "Arial", "Helvetica", sans-serif
    font-size: 14px
    font-style: normal
    font-variant: normal

// related topics bottom
.mobile.pillar_content_bottom_left.gov
    display: block
    float: left
    width: 100%
    padding-top: 25px
    margin-bottom: 25px
    border-top: 4px solid $wwb_blue
    border-bottom: 4px solid #00b7ee

.pillar_content_bottom_right
    +prdib
    float: right
    width: 100%
    padding-left: 3rem

.pillar_content_bottom_right.gov
    +prdb
    +width_height(100%, auto)
    float: right
    padding-left: 0
    margin-bottom: 20px
    border-bottom: 4px solid $wwb_blue
    div:last-child
        margin-bottom: 20px

.pillar_content.colorido-container.gov.right
    float: right
    width: 30%
    display: block
    position: relative

#desktop_related_topic_section
    display: none

.related_topic_div
    a
        text-decoration: none
        text-transform: uppercase
        line-height: 2em
        font-family: "Oswald Regular"
        position: relative
        font-size: 1.5rem
        color: #00b7ee
    a:after
        position: relative
        display: inline-block
        width: 20px
        height: 20px
        content: ">"
        margin-left: 5px
        top: -2px
        background: url(../img/nextArrow.png) no-repeat 0 0

.pillar_content_bottom_left h4,
.pillar_content_bottom_right h4
    +title-font-bold
    width: auto
    margin-bottom: 20px
    letter-spacing: 0
    color: $medium_grey


.pillar_content_bottom_left.gov
    display: none
    div
        float: left
        top: -14px
        width: 100%
    div:last-child
        margin-bottom: 20px

.pillar_content_bottom_left a
    text-decoration: none
    text-transform: uppercase
    line-height: 2em
    +title-font-regular
    +pr
    font-size: 1.5rem
    color: $wwb_blue
    &:after
        +prdib
        +width_height(20px, 20px)
        content: ">"
        margin-left: 5px
        top: -2px
        background: url(../img/nextArrow.png) no-repeat 0 0


.pillar-item__content.download.gov
    display: block
    height: 40px
    padding: 0

#gov_download
    top: 0
    font-size: 12px
    line-height: 40px
    background: #e9e7e7 url(../img/icon-dowload.png) no-repeat 0 0
    &:hover
        background: #e9e7e7 url('../img/icon-dowload-blue.png') no-repeat 0 center

//a-z pill
.btn
    display: none
    cursor: pointer

.hero
    padding: 0

//.hero__social.gov
//    +prdib
//    +width_height(100%, 50px)
//    float: left

.h2-az.gov
    float: left
    width: inherit
    margin: 20px 0
    padding-right: 0
    em
        +prdib
        font-size: 1em

.footer_social
    +prdib
    float: right
    width: auto
    margin-bottom: 0 !important
    margin-top: 0

#gov_social_icon_ul
    margin-top: 0
    margin-bottom: 0
    float: right

.hero__social-item
    float: right

#related_topic_mobile
    border-top: 4px solid $wwb_blue
    display: block
    h4
        margin-top: 30px

.download_title.gov
    top: -4px
    &:after
        padding-right: 1.5em

.pillar_content.colorido-container.gov > div:first-child
    float: left
    display: block
    position: relative
    width: 100%
    height: auto
    background-size: cover
    margin-bottom: 20px

//#gov_iframe
//    //width: 100%
//    max-width: 300px
//    height: auto

#az_social_icon_ul,
#gov_social_icon_ul
    background: url(../img/menu_social.png) no-repeat center 0
    background-size: 120px 25px
    float: right
    width: 120px
    height: 35px
    li
        width: 23%

#az_social_icon_ul
    margin-top: 17px
    float: left

.pillar-item__content_h2-az
    margin-bottom: 20px