.hero--nutrition
	background-image: url(../img/hero-nutrition--tb.jpg)


.nutrition-breakdown-copy
	.copy
		line-height: 150%

.nutrition-section
	padding: 5% 0
	img
		max-width: 100%

.our-story
	background-color: #c0c0c0

.our-commitment-to-nutrition
	background-color: $light_grey
	

.farming
	background-color: $extralight_grey

.contributors
	background-color: $wwb_darkblue
	color: #fff

.forward-brands
	background-color: #d7d6d3

	ul.forward-brand-list 
		overflow: hidden
		margin-left: -60px
		margin-right: -60px
		li
			display: inline-block
			margin: 0
			padding: 0
			width: 33.33%
			> div 
				padding: 0 60px
				margin-bottom: 60px

.report
	background-color: $extralight_grey