//mobile view
html#colorido-html
    body.colorido-body
        .hero--perspectives
            background-position: center top
            @media screen and (max-width: 680px)
                h1 em
                    font-size: 2.5rem
                    line-height: 3rem
        .pwp-breakdown__header
            margin: 0

        .pwp-breakdown__header.underline.category
            +title-font-bold
            font-size: 2.2em
            margin-top: 0
            margin-bottom: 1em

        .pwp-breakdown__header.underline.topics
            margin: 40px 0 !important

        .desktop-pwp-breakdown-icon
            +dn

        .mobile-pwp-breakdown-icon
            +prdb
            width: 65%
            max-width: 250px
            margin: auto

        .pillar-container
            margin-top: $global_spacing

        //    closed at the beginning
        @mixin pillar-theme($name, $colour)
            .pillar--#{$name}
                .pillar-header, .pillar-item__content
                    +box-sizing
                    display: none
                    width: 100%
                    padding: 3% 5%
                    background-color: $pill_background_gray
                    border-image-slice: 1

                .pillar-header
                    +prdb
                    border-top: 2px solid $colour

                .pillar-item__pill
                    background-color: $colour

        +pillar-theme(A-E, $pill_tab_gray)
        +pillar-theme(F-N, $pill_tab_gray)
        +pillar-theme(O-R, $pill_tab_gray)
        +pillar-theme(S-Z, $pill_tab_gray)

        .pillar-item__pill
            height: auto
            //cursor: pointer
            overflow: hidden
            &::after
                +padb
                +width_height(20px, 20px)
                top: calc(1.5rem - 10px)
                right: 1rem
                content: ""
                background: url(../img/icon-open.png) center
                background-size: contain

            h4
                color: white
                line-height: 3rem
                vertical-align: middle
                padding: 0 4rem 0 1rem
                font-size: 1em
                font-family: "Oswald bold"
            &.open
                background-color: $wwb_blue
                transition: 1s ease background-color
                h4
                    color: white

                &::after
                    background-image: url(../img/icon-close.png)

        .pillar-item__content
            border-top: 0
            margin-bottom: 10px
            padding: 4% 7%
            width: 100%
            border-bottom: 1px solid $light_grey
            h2 em
                font-size: 1.5rem

        #leadership_img
            width: 100%

        .pillar-item__content.download
            display: none
            +width_height(100%, 1em)
            overflow: hidden
            cursor: pointer
            margin: auto
            margin-bottom: 5px
            padding: 1.5em 0
            background-color: $pill_download_background

        .download_title
            +prdib
            +title-font-regular
            +width_height(100%, 2em)
            float: left
            text-decoration: none
            top: -12px
            span a
                text-decoration: none
                color: $medium_grey
                position: relative
                display: inherit
            &:before
                +prdib
                +width_height(30px, 2.2em)
                +top_left(-2px, -20px)
                float: left
                background: url(../img/download_arrow.png) no-repeat center center
                border-right: 1px solid lightgrey
                padding-right: 1.2rem
                content: " "

            &:after
                +prdib
                +title-font
                +width_height(80px, 25px)
                +padding_lr(.8em, 0)
                float: right
                border-left: 1px solid lightgrey
                content: "PDF | 897KB"
                text-align: center
                margin: 0 auto

        #align-right_pdf_top, #align-right_pdf_bottom
            display: block

        .download_icon
            +width_height(30px, 30px)
            padding-right: 2rem

        .pillar_content.colorido-container
            width: 100%
            padding-top: 1em
            margin: 0
            display: none

        .pillar-item__content.closed.bottom
            height: auto
            padding: 0
            background-color: #e9e7e7

        .pillar_content_bottom_left
            width: 100%
            color: $medium_grey
            h4
                margin-bottom: 50px
                letter-spacing: 0
                a
                    +pill-font-bold
                    text-decoration: none
                    text-transform: uppercase
                    color: $medium_grey
                    font-size: 1em
                    font-weight: 400
                    letter-spacing: .1em
                    line-height: 2.5em
                    &:after
                        +prdib
                        +width_height(20px, 20px)
                        content: ">"
                        margin-left: 5px
                        top: -2px
                        background: url(../img/nextArrow.png) no-repeat 0 0

        #search_bar
            +prdib
            width: 100%
            float: left
            margin-right: 40px

        .hero__social.az
            +prdib
            +width_height(100%, 50px)
            +top_left(-10px, -24px)
            float: left
            margin-left: 20px
            a
                +prdb
                +width_height(25px, 25px)
                float: left

        .hero__social-item:nth-child(n)
            margin-right: 0

        .btn.discover
            +prdn
            +title-font-regular
            float: left
            max-width: 200px
            height: 37px
            text-align: center
            border-radius: 0
            border: 0
            background-color: $wwb_blue
            padding-top: 5px
            margin: 1rem 0
            &:active
                color: $wwb_blue
            a
                color: white
                text-decoration: none
                cursor: pointer
                font-size: 1em
                font-family: "Oswald Regular"
                img
                    float: right
                    position: relative
                    width: 10px
                    height: 15px
                    top: 6px
                    left: 3px
                    margin-left: 5px
                    background-repeat: no-repeat
                    background-size: 9px 14px

        .pillar_content.colorido-container,
        .pillar-container.pillar--A-E .pillar-item:nth-child(6) .btn.discover,
        .pillar-container.pillar--A-E .pillar-item:nth-child(3) .btn.discover,
        .pillar-container.pillar--A-E .pillar-item:nth-child(1) .btn.discover,
        .pillar-container.pillar--A-E .pillar-item:nth-child(2) .btn.discover,
        .pillar-container.pillar--S-Z .pillar-item:nth-child(6) .btn.discover,
        .pillar-container.pillar--O-R .pillar-item:nth-child(5) .btn.discover,
        #phil_report_right_btn
            display: block !important

        .pillar_content_h4
            width: 20%

        .pillar_content_bottom_left
            div
                float: left
                top: -14px

        .pillar_content_bottom_left
            h4
                display: inline-block
                float: left
                +title-font-regular
                +width_height(19%, 31px)
                letter-spacing: 0
                border-right: 1px solid lightgrey
                padding-right: 20px
                padding-top: 11px
                margin-bottom: 0
                text-align: center
            div
                width: 100%
            a
                +title-font-regular
                +pr
                top: -5px
                width: 100%
                font-size: 1rem
                font-weight: 400
                color: $wwb_blue

        .topics
            //margin: 0 0 !important
            //padding: 40px 0
            //background-color: silver
            line-height: normal
            font-size: 12.5px
            //margin: 10px 0



        .search-blue.az
            padding: 64px 0 105px 0
            h3
                font-size: 22px
        .related_topics
            overflow: hidden
            line-height: 10px
            text-decoration: none
            font-size: 14px
            text-transform: uppercase
            text-align: left
            .related_topics_ul
                list-style-type: none
                margin: 0
                overflow: hidden
                li
                    float: left
                    position: relative
                    margin-left: 15px
                    top: 5px
                    &:first-child
                        +title-font-bold
                        margin-bottom: 20px
                        text-align: left
                        &:after
                            +prdb
                            +padding_lr(20px, 20px)
                            +width_height(inherit,inherit)
                            float: right
                            background: url('../img/icon-separator.png') no-repeat 0 0
                    span
                        padding-left: 0
                        &.align-right
                            display: inline-block
                            padding-right: 40px
                            float: left
                            background: url('../img/icon-separator.png') no-repeat 120px 3px
                    a
                        display: block
                        +title-font-bold
                        color: $wwb_blue
                        text-decoration: none
                        &:after
                            content: ""
                            position: absolute
                            +width_height(30px, 12px)
                            float: right
                            top: 17px
                            background: url(../img/icon-arrow-right--lightblue.png) no-repeat 4px 1px
                            background-size: 7px 10px
                        &:last-child
                            padding-bottom: 10px

        #download_policy a,
        #download_report a
            width: 105%
            background:  #e9e7e7 url('../img/icon-dowload.png') no-repeat 0 center
            &:hover
                background: #e9e7e7 url('../img/icon-dowload-blue.png') no-repeat 0 center

        #pdf_block1,
        #pdf_block2
            display: block
            background: #e9e7e7 url(../img/icon-separator.png) no-repeat 0 center

        .download_title.gov:before
            +prdib
            +width_height(30px, 2.2em)
            +top_left(-4px, -14px)
            float: left
            background: url(../img/download_arrow.png) no-repeat center center
            border-right: 1px solid lightgrey
            padding-right: 1rem
            content: ""

        .social-media-icons#az_social_icon_ul,
        .social-media-icons#gov_social_icon_ul
            background: url(../img/menu_social.png) no-repeat center 0
            background-size: 120px 25px
            width: 120px
            margin-top: 10px
            height: 35px
            li
                width: 23%

        .social-media-icons#gov_social_icon_ul
            float: right

        .h2-az em
            margin-right: 1em
