#philan_slider
  +prdb
  float: left
  width: 100%
  height: 720px
  background-color: $wwb_darkblue
  opacity: .7
  margin: 50px 0

#phil_container
  text-align: center

#phil_report
  float: left
  padding: 5% 0
  background: rgb(243,242,239)
  width: 100%

.topics.phil
  background: rgb(243,242,239)

#phil_header-left
  text-align: left

#phil_header-center
  text-align: center

#phil_report_container
  max-width: 1372px
  margin: 0 auto

#phil_report_left
  +prdb
  float: left
  width: 100%
  padding-bottom: 15%
  p
    font-size: 13px
    margin: 15px 0
    display: block
    height: 50px

#phil_report_left_download
  margin-top: 27px
  h4
    letter-spacing: 0
    padding: 11px 0
  a
    top: 0
    width: 305px
    height: 40px
    line-height: 40px
    background: #e1e1e1 url(../img/icon_arrow_down_gray.png) no-repeat 4% center
    background-size: 20px 24px
    text-transform: capitalize

#phil_report_right
  +prdb
  float: left
  width: 100%
  padding: 0 2%
  p
    font-size: 13px
    margin: 15px 0
    display: block
    height: 50px

#phil_report_right_btn
  height: 40px
  line-height: 20px
  width: 200px
  text-align: left
  margin-top: 50px
  bottom: 0
  a
    font-size: 1.5rem
    font-family: "Oswald Regular"
    color: white
    img
      width: 8px
      height: 13px
      top: 9px

.explore-item__heading
  padding: 0 21%

h2.pwp-breakdown__header.underline.phil
  //font-size: 1.3rem
  //line-height: 30px
  line-height: 2em
  font-size: 1.5em
  font-family: "Oswald Light"
  em
    font-size: 2em
  &:after
    margin: 1.5rem auto 0 auto

#phil_column2
  background: rgb(205,204,201)
  margin-bottom: 0

#phil_list
  margin-bottom: 0
  background-color: rgb(215,214,211)

#phil_header-underline
  font-size: 25px
  line-height: 2.0
  font-family: "Oswald Light"

  em
    font-size: 45px
    &:after
      margin: 2rem auto 0 auto

.image_wrapper-hww
  height: 345px
  width: 100%
  overflow: hidden
  top: -100px
  background: url(../img/philanthropy_pillar_background.png) 0 0
  background-repeat: no-repeat
  background-size: cover

#relief_tab
  .colorido-container.pillar-tab__content:before
    position: absolute
    content: ""
    display: block
    width: 300%
    margin-left: -150%
    background-color: #fff
    height: 100%

.report-slider__copy-container
  float: left
  position: relative
  display: block
  margin: 0 auto
  width: 100%

#img-hww
  max-width: 88%
  height: auto
  margin: 0 auto
  top: 0
  float: none
  display: block
  -webkit-transition: top 1s
  transition: top 1s

#img-hww.level-2
  top: -520px

#img-hww.level-3
  top: -880px

.image_wrapper-hww.level-2
  transition: height 1s

.hww-btn
  display: none
  position: relative
  cursor: pointer

.hww-btn#btn-hww-up
  display: block
  float: right
  position: absolute
  bottom: 160px
  right: 20px
  z-index: 900
  img
    width: 21px
    height: 11px

.hww-btn#btn-hww-down
  display: block
  position: absolute
  float: right
  top: 160px
  right: 20px
  img
    width: 21px
    height: 11px

.pillar--philanthropy_img_wrapper
  display: block
  position: relative
  float: none
  margin: 0 auto
  width: 85px
  //height: 100px

#pillar--philanthropy_img-nutrition
  width: 96px
  height: 125px
  margin-top: 30%

#pillar--philanthropy_img-water
  width: 104px
  height: 113px
  margin-top: 30%

#pillar--philanthropy_img-reduce
  width: 70px
  height: 121px
  margin-top: 30%

#pillar--philanthropy_img-women
  width: 70px
  height: 125px
  margin-top: 30%

.phil_col-3
  width: 20%
  margin-left: 2%
  margin-right: 2%
  display: inline-block
  &:last-child
    margin-right: 0

.philanthropy
  width: 95%
  padding: 15% 0
  .container_phillar
    width: 100%
    margin-right: 0
    padding: 10% 0
    .row
      width: 100%
      margin: 0
      .underline
        font-size: 1.5em
        line-height: 1em
        width: 100%
        margin-left: auto
        margin-right: auto
        text-align: center
        margin-top: 2em

.pillar--philanthropy_p
  text-align: center
  font-size: 12px
  line-height: 1.2em
  margin: 20px 0

#img-relief, #img-focus
  display: none

#horizontal_carousel
  width: 100%
  margin: 0
  padding: 15% 0

#focus_tab
  #report-slider
    display: none

#hww_tab
  #report-slider
    display: none