<!-- START EXPLORE LINKS -->
<section class="explore">
    <div class="colorido-container">
    {{#each explore ~}}
        {{#contains this.pages ../page_id ~}}
        <div class="explore-item">
            <div class="explore-item__image lazyload" data-bg="img/{{this.image-filename}}"></div>
            <div class="colour-overlay" style="background-color: {{this.overlay-colour}}"></div>
            <a class="block-link" href="{{this.link}}"{{#is this.external true}} target="_blank"{{/is}}></a>
            <div class="explore__heading-wrap">
                <div class="explore__heading-wrap2">
                    <span class="explore-item__heading">{{this.heading}}</span>    
                </div>
            </div> 
        </div>
        {{~/contains}}
    {{~/each}}
    </div>
</section>
<!-- END EXPLORE LINKS -->