<!-- START GLOBAL FOOTER -->
<footer class="colorido-footer">
    <div class="footer_container">
        <div class="footer_logo_main">
            <img class="logo_light" src="img/pepsico_logo_white.png"/>
            <p><span id="copy_right">&copy</span> PepsiCo 2017</p>
        </div>
        <div class="footer_list">
            <a href="#" class="sitemap">Site Map<span id="separator"></span></a>
            <a href="#" class="terms">Terms of Use<span id="separator"></span></a>
            <a href="#" class="privacy">Privacy<span id="separator"></span></a>
            <a href="#" class="more">More Sites</a>
        </div>
        <div id="footer_social">
            <ul class="social-media-icons">
                <li class="social-media-icons_li"><a class="facebook" href="#"></a></li>
                <li class="social-media-icons_li"><a class="twitter" href="#"></a></li>
                <li class="social-media-icons_li"><a class="linkedIn" href="#"></a></li>
                <li class="social-media-icons_li"><a class="pinterest" href="#"></a></li>
                <li class="social-media-icons_li"><a class="instagram" href="#"></a></li>
            </ul>
        </div>
    </div>
</footer>
<!-- END GLOBAL FOOTER -->