<!-- START GLOBAL FOOTER -->
<footer>
    <div class="container">
        <div class="logo_main">
            <img class="logo_light" src="img/pepsico_logo_white.png"/>
            <p>&copy PepsiCo 2017</p>
        </div>
        <div class="social">
            <a href="#" class="sitemap">SiteMap</a>
            <a href="#" class="terms">Terms of Use</a>
            <a href="#" class="privacy">Privacy</a>
            <a href="#" class="more">More Sites</a>
        </div>
        <div id="footer_social">social link
            <ul class="social-media-icons">
                <li><a class="facebook" href="#"></a></li>
                <li><a class="twitter" href="#"></a></li>
                <li><a class="linkedIn" href="#"></a></li>
                <li><a class="pinterest" href="#"></a></li>
                <li><a class="instagram" href="#"></a></li>
            </ul>
        </div>
    </div>
</footer>
<!-- END GLOBAL FOOTER -->