<div class="pillar-tabs">
    <div class="pillar-tab-container">
        <div class="pillar-tab" id="focus_tab">
            <div class="pillar-tab__heading">
                <span>OUR FOCUS</span>
            </div>
            <div class="colorido-container pillar-tab__content philanthropy">
                <section class="container_phillar">
                    <div class="row">
                        <div class="phil_col-3">
                            <div class="pillar--philanthropy_img_wrapper">
                                <img src="img/philanthropy_nutrition.png" class="pillar--philanthropy_img" id="pillar--philanthropy_img-nutrition">
                            </div>
                            <h3 class="underline">nutritious servings</h3>
                            <p class="pillar--philanthropy_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At eius esse et excepturi
                                natus perspiciatis recusandae
                                perspiciatis recusandae repellat unde</p>
                        </div>
                        <div class="phil_col-3">
                            <div class="pillar--philanthropy_img_wrapper">
                                <img src="img/philanthropy_water.png" class="pillar--philanthropy_img" id="pillar--philanthropy_img-water">
                            </div>
                            <h3 class="underline">safe water access</h3>
                            <p class="pillar--philanthropy_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At eius esse et excepturi
                                natus perspiciatis recusandae
                                perspiciatis recusandae repellat unde</p>
                        </div>
                        <div class="phil_col-3">
                            <div class="pillar--philanthropy_img_wrapper">
                                <img src="img/philanthropy_reduce.png" class="pillar--philanthropy_img" id="pillar--philanthropy_img-reduce">
                            </div>
                            <h3 class="underline">reduce packaging</h3>
                            <p class="pillar--philanthropy_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At eius esse et excepturi
                                natus perspiciatis recusandae
                                perspiciatis recusandae repellat unde</p>
                        </div>
                        <div class="phil_col-3">
                            <div class="pillar--philanthropy_img_wrapper">
                                <img src="img/philanthropy_women.png" class="pillar--philanthropy_img" id="pillar--philanthropy_img-women">
                            </div>
                            <h3 class="underline">prosperity for women</h3>
                            <p class="pillar--philanthropy_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At eius esse et excepturi
                                natus perspiciatis recusandae
                                perspiciatis recusandae repellat unde</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>


        <div class="pillar-tab " id="hww_tab">
            <div class="pillar-tab__heading">
                <span>HOW WE WORK</span>
            </div>
            <div class="colorido-container pillar-tab__content" id="horizontal_carousel">
                <div class="image_wrapper-hww">
                    <img src="img/philanthropy_img_elements.png" alt="HOW WE WORK" id="img-hww">
                </div>
                <a class="hww-btn" id="btn-hww-up"><img src="img/icon_arrow_down.png"></a>
                <a class="hww-btn" id="btn-hww-down"><img src="img/icon_arrow_up.png"></a>
            </div>
        </div>


        <div class="pillar-tab" id="relief_tab">
            <div class="pillar-tab__heading">
                <span>DISASTER RELIEF</span>
            </div>

            <div class="colorido-container pillar-tab__content">
                <div class="report-slider swiper-container" id="report-slider">
                    <div class="report-slider__arrows">
                        <span class="arrow arrow--prev" id="report-slider__arrows--prev"></span>
                        <span class="arrow arrow--next" id="report-slider__arrows--next"></span>
                    </div>

                    <div class="swiper-wrapper">
                        <div class="swiper-slide report-slider__slide">
                            <img class="report-slider__image" src="img/report--page-0.png"
                                 alt="Explicabo doloribus cupiditate">
                            <div class="report-slider__copy-container">
                                <h5 class="report-slider__title">Explicabo doloribus cupiditate</h5>
                                <p class="copy report-slider__copy">Lorem ipsum dolor sit amet, consectetur
                                    adipisicing
                                    elit. Deserunt nihil perferendis suscipit, quidem dolorum mollitia explicabo
                                    facilis
                                    reiciendis ducimus consectetur atque perspiciatis quia omnis id quaerat ea
                                    molestias
                                    officia repellat.</p>
                            </div>
                        </div>
                        <div class="swiper-slide report-slider__slide">
                            <img class="report-slider__image" src="img/report--page-1.png" alt="Lorem ipsum">
                            <div class="report-slider__copy-container">
                                <h5 class="report-slider__title">Lorem ipsum</h5>
                                <p class="copy report-slider__copy">Lorem ipsum dolor sit amet, consectetur
                                    adipisicing
                                    elit. Ullam eos labore vitae recusandae inventore, odit beatae consequatur modi
                                    ad
                                    alias dolore ea in reiciendis, nisi facilis molestiae, nostrum eveniet
                                    minus!</p>
                            </div>
                        </div>
                        <div class="swiper-slide report-slider__slide">
                            <img class="report-slider__image" src="img/report--page-2.png" alt="Lorem ipsum dolor">
                            <div class="report-slider__copy-container">
                                <h5 class="report-slider__title">Lorem ipsum dolor</h5>
                                <p class="copy report-slider__copy">Lorem ipsum dolor sit amet, consectetur
                                    adipisicing
                                    elit. Explicabo doloribus cupiditate veniam vero praesentium maxime iste,
                                    laborum
                                    sit temporibus nostrum, fugit voluptates minus aspernatur similique harum
                                    voluptatem, sapiente. Cum, eaque.</p>
                            </div>
                        </div>
                        <div class="swiper-slide report-slider__slide">
                            <img class="report-slider__image" src="img/report--page-3.png" alt="Lorem ipsum dolor">
                            <div class="report-slider__copy-container">
                                <h5 class="report-slider__title">Lorem ipsum dolor</h5>
                                <p class="copy report-slider__copy">Lorem ipsum dolor sit amet, consectetur
                                    adipisicing
                                    elit. Non quasi animi nulla modi iusto, omnis atque recusandae beatae a, quia
                                    culpa
                                    repellendus, veritatis voluptatibus reprehenderit odio cupiditate quae
                                    laboriosam
                                    similique.</p>
                            </div>
                        </div>
                    </div>
                    <div class="report-slider__pagination" id="report-slider__pagination"></div>
                </div>
            </div>
        </div><!--relief tab-->
    </div>
</div>
