<div class="progress-timeline" id="progress-timeline">

    <div class="progress-timeline__carousel-wrapper swiper-container" id="progress-timeline__carousel-wrapper">
        <div class="container progress-timeline__pagination" id="progress-timeline__pagination"></div>

        <div class="swiper-wrapper">
            {{#eachProperty progress ~}}
            <div class="swiper-slide progress-timeline__slide">
                <img class="progress-timeline__image" src="img/{{value.image-filename}}" alt="{{value.title}}">
                <div class="progress-timeline__copy-container">
                    <p class="progress-timeline__title">{{{value.title}}}</p>
                    <p class="copy progress-timeline__copy">{{{value.copy}}}</p>
                </div>
            </div>
            {{~/eachProperty}}
        </div>

        <img src="img/icon-swipe--grey.png" alt="Swipe to view more" class="progress-timeline__swipe-icon">

    </div>

</div>