<div class="expander">
    <div class="expander-inner">
        <span class="btn-close"></span>

        <div class="expander-inner-half left">
            <div class="gallery">
                <h2>{{{recipe-name}}}</h2>
                <figure>
                    <img src="img/recipes/recipe-3-large.jpg" alt="Recipe photo"/>
                </figure>
                <div class="related">
                    
                </div>
            </div>
        </div>
        <div class="expander-inner-half right">
            <div class="">
                
            </div>
        </div>
    </div>
</div>  