<div class="expander">
    <div class="expander-inner">
        <span class="btn-close"></span>

        <div class="expander-inner-half left">
            <div class="gallery">
                <div class="title">
                    <h2 class="title-item">{{{recipe-name}}}</h2>
                    <p>{{{recipe-featuring}}}</p>
                </div>
                <figure>
                    <img src="img/recipes/recipe-3-large.jpg" alt="Recipe photo"/>
                </figure>
                <a href="#" id="gov_download"><span>2016 Report</span></a><span class="align-right" id="pdf_block1">PDF | 897KB</span>

            </div>
        </div>
        <div class="expander-inner-half right">
            <div class="recipe-details-copy">
                <div class="title">
                    <h2 class="title-item">{{{recipe-name}}}</h2>
                    <p>{{{recipe-featuring}}}</p>
                </div>
                <div class="content-recipe">
                    <p>Beverage Pairing: Mist Twst<br /> 
                    Prep Time: 10 minutes<br />
                    Cook Time: 5 minutes<br />
                    Serves: 4-6 </p>
                    <p>
                        <strong>Ingredients</strong><br />
                        4 bags Fritos (single-serve size)<br />
                        3 cups grilled corn (off the cob)<br />
                        ½ cup Mexican crema<br />
                        ¼ tsp Ancho Chili powder<br />
                        ½ tsp minced garlic<br />
                        ¾ tsp minced cilantro<br />
                        1 tsp lime juice<br />
                        Crumbled Cotija Cheese (garnish)
                    </p>
            
                    <p>
                        <strong>Directions</strong><br />
                        Preheat grill and cook corn until charred. Set aside to cool.<br />
                        Once cooled, carefully use a knife to cut the charred kernels off the cob. Add corn and all remaining ingredients into a mixing bowl. Mix together until well incorporated. Refrigerate if desired before filling Frito bags.</p>

                    <p>To assemble tacos, add corn mixture on top of Fritos, and garnish with crumbled Cotija cheese. Enjoy!</p>

                    <p>Tip: For extra style, garnish with a lime wedge and chopped cilantro.</p>
                </div>
                
            </div>
        </div>
    </div>
</div>  