    <div class="report-slider swiper-container philanthropy" id="report-slider">
        <div class="report-slider__arrows">
            <span class="arrow arrow--prev" id="report-slider__arrows--prev"></span>
            <span class="arrow arrow--next" id="report-slider__arrows--next"></span>
        </div>

        <div class="swiper-wrapper">
            <div class="swiper-slide report-slider__slide">
                <img class="report-slider__image" src="img/report--page-0.png"
                     alt="Explicabo doloribus cupiditate">
                <div class="report-slider__copy-container">
                    <h5 class="report-slider__title">Explicabo doloribus cupiditate</h5>
                    <p class="copy report-slider__copy">Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Deserunt nihil perferendis suscipit, quidem dolorum mollitia explicabo facilis
                        reiciendis ducimus consectetur atque perspiciatis quia omnis id quaerat ea molestias
                        officia repellat.</p>
                </div>
            </div>
            <div class="swiper-slide report-slider__slide">
                <img class="report-slider__image" src="img/report--page-1.png" alt="Lorem ipsum">
                <div class="report-slider__copy-container">
                    <h5 class="report-slider__title">Lorem ipsum</h5>
                    <p class="copy report-slider__copy">Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Ullam eos labore vitae recusandae inventore, odit beatae consequatur modi ad
                        alias dolore ea in reiciendis, nisi facilis molestiae, nostrum eveniet minus!</p>
                </div>
            </div>
            <div class="swiper-slide report-slider__slide">
                <img class="report-slider__image" src="img/report--page-2.png" alt="Lorem ipsum dolor">
                <div class="report-slider__copy-container">
                    <h5 class="report-slider__title">Lorem ipsum dolor</h5>
                    <p class="copy report-slider__copy">Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Explicabo doloribus cupiditate veniam vero praesentium maxime iste, laborum
                        sit temporibus nostrum, fugit voluptates minus aspernatur similique harum
                        voluptatem, sapiente. Cum, eaque.</p>
                </div>
            </div>
            <div class="swiper-slide report-slider__slide">
                <img class="report-slider__image" src="img/report--page-3.png" alt="Lorem ipsum dolor">
                <div class="report-slider__copy-container">
                    <h5 class="report-slider__title">Lorem ipsum dolor</h5>
                    <p class="copy report-slider__copy">Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Non quasi animi nulla modi iusto, omnis atque recusandae beatae a, quia culpa
                        repellendus, veritatis voluptatibus reprehenderit odio cupiditate quae laboriosam
                        similique.</p>
                </div>
            </div>
        </div>

        <div class="report-slider__pagination" id="report-slider__pagination"></div>
    </div>
