<div class="wangotron-wrap">

    <div class="wangotron">

        <img class="wangotron__arms" src="img/focus-arms--mo.png">
        <img class="wangotron__pwp" src="img/focus-pwp.png">

        <div class="wangotron__area wangotron__area--products">
            <img class="wangotron__button wangotron__button--products" src="img/focus--icon-products.png">
        </div>

        <div class="wangotron__area wangotron__area--planet">
            <img class="wangotron__button wangotron__button--planet" src="img/focus--icon-planet.png">
        </div>

        <div class="wangotron__area wangotron__area--people">
            <img class="wangotron__button wangotron__button--people" src="img/focus--icon-people.png">
        </div>

    </div>

    <div class="wangotron__mobile-modal">
        <div class="wangotron__mobile-modal__surround"></div>
    </div>

</div>

<p class="copy wangotron__tap-cta">Tap a category for more information</p>